

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="layout" content="main" />
        <title></title>         
    </head>
    <body>
        <div class="body">
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${bademails}">
            <div class="errors">
                <g:renderErrors bean="${bademails}" as="list" />
            </div>
            </g:hasErrors>
                <div class="dialog">
                    <table>
                        <tbody>

<g:form controller="bademails" method="post" action="fileupload" enctype="multipart/form-data">
    <input type="file" name="file"/><br><br>
    <input type="submit"/>
</g:form>                        
                        
                        
                        </tbody>
                    </table>
                </div>
        </div>
    </body>
</html>
