/*Css Document of (name of the project) project  */

/* 
-------------------------------------------
	CSS MAP
-------------------------------------------
A. GLOBAL RESET
B. INDEX PAGE
C. INNER1 PAGE
D. INNER2 PAGE
E. INNER3 PAGE
F. INNER4 PAGE
G. INNER5 PAGE

-------------------------------------------
*/

/*##########################################################################*/

a{ text-decoration:none;
	outline:none;
	}
ul, ol, dl{
	list-style-type:none;
	}
input, select, textarea{
	outline:none;
	}
textarea{
	resize:none;
	}
.clear{
	font-size:0;
	line-height:0;
	clear:both;
	}
.spacer{
	font-size:0;
	line-height:0;
	clear:both;
	}	
.fltLft{ float:left;}
.fltRht{ float:right;}
/*
@font-face {
    font-family: 'LucidaSansItalic';
    src: url('resource:/css/fonts/lsansi_0-webfont.eot');
    src: url('resource:/css/fonts/lsansi_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('resource:/css/fonts/lsansi_0-webfont.woff') format('woff'),
         url('resource:/css/fonts/lsansi_0-webfont.ttf') format('truetype'),
         url('resource:/css/fonts/lsansi_0-webfont.svg#LucidaSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
	}
*/

/*---------------------------------Misc---------------------------------------------*/	
.nobg{ background-image:none!important;}
.noborder{ border:none!important;}
.nobottomborder{ border-bottom:none!important;}
.nomargin{ margin:0!important;}
.norightmargin{ margin-right:0!important;}
.noleftmargin{ margin-left:0!important;}
.nopadding{ padding:0!important;}
.noleftpadding{ padding-left:0!important;}



/*
-------------------------------------------
	INNER1 PAGE
-------------------------------------------
*/
.i-header{
	height:89px;
//	background:url(../images/inner-toppannelbg.jpg) repeat-x 0 0;
	//background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
        background-color:#005387;
	border-bottom:1px solid #308fa5;
	box-shadow:0 -3px 0 rgba(0, 0, 0, 0.05) inset;
	}
.i-headerwrapper{
        background-color:#0a3151;
	padding:0 1.35% 0 1.35%;
	}
.i-headerwrapper img.logo{
	float:left;
	padding:28px 0 0 0;
	}
.i-headerwrapper ul{
	float:none;
	width:auto;
	margin:0 0 0 15%;
	padding:28px 0 0 0;
}
.i-headerwrapper ul li{
	float:left;
	width:auto;
	margin:0 1px;
	text-align:center;
}
.i-headerwrapper ul li.nodivder{
	background-image:none;
}
.i-headerwrapper ul li a{
	/*font:normal 16px/35px 'Aleo Light', 'Palatino Linotype', Palatino; */
	display:block;
	color:#d3eced;
	background-color:inherit;
	text-transform:uppercase;
	/*font:normal 1.6em/2.1em 'Aleo Light', 'Palatino Linotype', Palatino;*/
	/*font-size:1.6em;
	font-family:'Aleo Light', 'Palatino Linotype', Palatino;
	font-weight:normal;*/
}
.i-headerwrapper ul li a span{
	display:block;
	padding:0 20px;
}
.i-headerwrapper ul li a:hover, .i-headerwrapper ul li a.active{
	color:#FFF;
	background-color:inherit;
	//background:url(../images/inner-navihoverbg.jpg) repeat-x;
	background: #00509d;
	background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
	background: -moz-linear-gradient(top,#0079bc,#00509d);
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	text-align:center;
}


.i-headerwrapper1 ul{
	float:left;
	width:auto;
	margin:0 0 0 0;
}
.i-headerwrapper1 ul li{
	float:left;
	width:auto;
	margin:0 1px;
	text-align:center;
}
.i-headerwrapper1 ul li.nodivder{
	background-image:none;
}
.i-headerwrapper1 ul li a{
	/*font:normal 16px/35px 'Aleo Light', 'Palatino Linotype', Palatino; */
	display:block;
	color:#FF5E00;
	background-color:#00509d;
	//background-color:;
	text-transform:uppercase;
}
.i-headerwrapper1 ul li a span{
	display:block;
	padding:0 20px;
}
.i-headerwrapper1 ul li a.active{
	color:#FFF;
	background-color:inherit;
	background:url(../images/inner-navihoverbg.jpg) repeat-x;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	text-align:center;
}


.searcharea{
  float:right;
  width:30%;
}
ul.serachname{
 margin:0;
 padding:0;
 float:right;
}
ul.serachname li{
 line-height:35px;
 padding:0 2px 0 16px;
}

ul.serachname li.account a{
 text-align:left;
 /*font:normal 15px/35px 'Aleo Light', 'Palatino Linotype', Palatino; */
 display:block;
 color:#FF5E00;
 text-transform:none;
 background-color:inherit;
}
ul.serachname li.account a:hover{
 background:none;
 color:#FF5E00;
 text-decoration:underline;
}

/* dropdown starts */
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; z-index:9000;   }
        .dropdown dd { position:relative; }
        .dropdown a, .dropdown a:visited { text-decoration:none; outline:none;}
        .dropdown a:hover { color:#ff5e00;}
        .dropdown dt a:hover { color:#ff5e00; }
		.dropdown dt{
		 /*background:url(../images/inner-navihoverbg.jpg) repeat-x; -webkit-border-radius: 7px 7px 7px 7px; border-radius: 7px 7px 7px 7px; */
		
		}
        .dropdown dt a {background: url(../images/arrow-2.png) no-repeat scroll 95% center !important; display:block; padding-right:20px; width:90%;}
		.dropdown dt a:hover {background: url(../images/arrow.png) no-repeat scroll 95% center;}
        .dropdown dt a span {cursor:pointer; display:block;}
        .dropdown dd ul { background:#5ba3b2 none repeat scroll 0 0; display:none;
                          left:22px; position:absolute; top:-5px; width:auto; min-width:170px; list-style:none;
						  -webkit-border-radius: 7px 7px 7px 7px; border-radius: 7px 7px 7px 7px;}
        .dropdown span.value { display:none;}
		.dropdown dd ul li{ clear:both !important;}
        .dropdown dd ul li a { padding:0 2px 0 8px; display:block; line-height:30px; color:#FFF !important;}
        .dropdown dd ul li a:hover { background-color:none; background:none; color:#356f7d;}
        
        .dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
        .flagvisibility { display:none;}
		
		
.dropdown1 dd, .dropdown1 dt, .dropdown1 ul { margin:0px; padding:0px; /*font:normal 12px/20px 'Aleo Light', 'Palatino Linotype', Palatino;*/ }
        .dropdown1 dd { position:relative; }
        .dropdown1 a, .dropdown1 a:visited { color:#fff; text-decoration:none; outline:none;}
        .dropdown1 a:hover { color:#fff;}
        .dropdown1 dt a:hover { color:#fff;}
        .dropdown1 dt a {background:#8fd2c6 url(../images/arrow.png) no-repeat scroll right center; -webkit-border-radius: 7px 0 0 7px; border-radius: 7px 0 0 7px;  display:block; padding-right:20px; width:72%; height:25px; line-height:15px;}
        .dropdown1 dt a span {cursor:pointer; display:block; padding:5px;}
        .dropdown1 dd ul { background:#8fd2c6 none repeat scroll 0 0; color:#fff; display:none;
                          left:0px; padding:5px 0px; position:absolute; top:0; left:5px; width:auto; list-style:none; }
        .dropdown1 span.value { display:none;}
        .dropdown1 dd ul li a { padding:5px; display:block; text-transform:none; /*font:normal 12px/20px  'Aleo Light', 'Palatino Linotype', Palatino; */}
        .dropdown1 dd ul li a:hover { color:#438ea0; background:none;}
        
        .dropdown1 img.flag { border:none; vertical-align:middle; margin-left:10px; }
        .flagvisibility1 { display:none;}		
/* dropdown ends */

.searchinptarea{
 margin:0px 0 0 0;
 float:right;
 width:78%;
}
.people{
 float:left;
}
.searchinpt{
 float:left;
 /*font:normal 12px/25px 'Aleo Light', 'Palatino Linotype', Palatino; */
 padding:0 0 0 5px; !important;
}
.searchbtn{
 float:left;
 width:27px;
 background:url(../images/searchbtn.png) no-repeat 0 0;
 height:25px;
 border:none;
 cursor:pointer;
}


.i-bodycontent{
	//background:url(../images/inner-botoverlaybg.png) ;
	background-color:#E6E6E6;
	background-repeat:repeat;
	padding:0 0 40px 0;
	}
.i-bodycontentwrapper{
	padding:0 1.35% 0 1.35%;
	}
.i-bodycontentwrapper ul.tabbtn{
	padding:40px 0 0 10px;
	overflow:hidden;
	}
.i-bodycontentwrapper ul.tabbtn li{
	float:left; 
	}
.i-bodycontentwrapper ul.tabbtn li a{
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	padding:0 20px 0 30px;
	/*font:normal 18px/35px 'Aleo Light', 'Palatino Linotype', Palatino; */
	color:#ffffff;
	display:block;
	background-color:#8fd2c6;
	/*font-size:1.8em;
	font-family: 'Aleo Light', 'Palatino Linotype', Palatino;
	line-height:2em;*/
	}
.i-bodycontentwrapper ul.tabbtn li a:hover{
	background:url(../images/inner-tabbg.jpg) repeat-x 0 0;
	color:#438ea0;
	}
.i-bodycontentwrapper ul.tabbtn li.active a{
	background:url(../images/inner-tabbg.jpg) repeat-x 0 0;
	color:#438ea0;
	}
.i-bodycontentwrapper ul.tabbtn li.active{
	color:#438ea0;
	}
	
	
	
.i-bodycontentwrapper div.eachtab {
	background-color:#FFFFFF;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	 
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:20px 2% 20px 2%;
	width:96%;
	}
	
	
.bodyArea{
  background:url(../images/dividebody.jpg) repeat-y 17.5% 0 #fff;
  overflow:hidden;
  height:100%;
}
.inner-contleftpan{
	width:17%;
	padding:23px 19px 0 0;
	float:left;
	}
.inner-contleftToppanel ul{
	overflow:hidden;
	}
.inner-contleftToppanel ul li{
	float:left;
	}
.inner-contleftToppanel ul li div.button{
 float:left;
 padding:4px 6px 0 0;
}
.inner-contleftToppanel ul li div.button a{
	float:left;
	display:block;
	color:#fff;
	text-decoration:none;
	/*font:16px 'Aleo Light', 'Palatino Linotype', Palatino; */
	font-weight:normal;
	padding:0 0 0 14px;
	height:24px;
	line-height:24px;
	text-align:center;
	cursor:pointer;	
	background:url(../images/leftbtn.png) no-repeat left 0;
	background-color:inherit;
}
.inner-contleftToppanel ul li div.button a span{
	float:left;
	display:block;
	padding:0 14px 0 0;
	background:url(../images/rightbtn.png) no-repeat right 0;
    height:47px;
}
.inner-contleftToppanel ul li div.button a:hover{
	color:#fff;
	background:url(../images/leftgbtn.png) no-repeat left 0;
	  background-color:inherit;
}
.inner-contleftToppanel ul li div.button a:hover span{
	color:#fff;
	background:url(../images/rightgbtn.png) no-repeat right 0;
	background-color:inherit;
}
.filter-penal
{
	background-color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #DFDFDF;
	overflow: hidden;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	float: left;
}
.filter-penal .greenarea
{
	 width:100%;
	 margin:0px 0 0 0;
}
.hide_and_show_filter_active
{
	border: 1px solid #00539F;
	height: 24px;
	width: 24px;
	float: right;
	margin-right: -33px;
	margin-top: -22px;
	background: url(hide.jpg) no-repeat scroll center #00539F;
	background-size: 22px;
	cursor:pointer;
}
.hide_and_show_filter_inactive
{
	border: 1px solid #00539F;
	height: 24px;
	width: 24px;
	float: right;
	margin-right: -33px;
	margin-top: -22px;
	background: url(show.jpg) no-repeat scroll center #00539F;
	background-size: 22px;
	z-index:30000;
	cursor:pointer;

}
.filter-penal .greenarea h3.page_collapsible , .filter-penal .greenarea h3.page_collapsiblem
{
	padding: 3px 5px;
	background: #F9F9F9;
	color: #000;
	border-bottom: 1px solid #E2E2E2;
	border-top: 1px solid #E2E2E2;
	cursor: pointer;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px !important;
	background-position: right;
	background-repeat: no-repeat;
	-webkit-border-radius:0px;
	border-radius:0px;
	height:auto !important;
}
.filter-penal .greenarea  .greenbox
{
	background:#fff;
}
.filter-penal .greenarea h3.page_collapsible:hover ,.filter-penal .greenarea h3.collapse-open
{
	background:#D0D0D0 !important;
}

.greenarea h2{
 background:url(../images/grey.jpeg) repeat-x 0 0;
 height:20px;
 width:50%;
-webkit-border-radius: 6px 6px 0 0;
 border-radius: 6px 6px 0 0;
 color:#ffffff;
 /*font:normal 14px/20px 'Aleo Light', 'Palatino Linotype', Palatino;  */
 text-align:center;
}
.greenbox{
 background:url(../images/grey.jpeg) repeat 0 0;
 -webkit-border-radius: 0 6px 6px 6px;
 border-radius: 0 6px 6px 6px;
 padding:11px 0;
}
.greenbox form{
 padding:0 0 0 5px;
}
.greenbox label{
 color:#ffffff;
 /*font:normal 11px/20px 'Aleo Light', 'Palatino Linotype', Palatino; */
 margin:0;
 padding:0;
}
.inptbox{
 -webkit-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
 background:#ededed;
 height:25px;
 width:90%;
 border:none;
 line-height:25px; 
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 font-size:11px;
 color:#6d7c7b;
 padding:0 5px 0 5px; 
}
.lightshade{
  background:url(../images/light.png) no-repeat center top;
}




.inner-contrightpan
{
	padding:0 0 0 0;
	float:left;
	width:79%;
	margin:0 0 0 20px;
	}

.asstext{
 color:#6d7c7b;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 padding:0 0 0 15px;
}
.gtext
{
 	color:#095160;
 	/*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
	font-weight:bold;
}
.conttext{
 margin:0 0 15px 25px;
}
.assbox{
 width:100%;
 float:left;
 margin:18px 0 0 0;
}
.asstop{
 -webkit-border-radius: 10px 10px 0 0;
 border-radius: 10px 10px 0 0;
 border-bottom:1px solid #a9a9a9;
 background: #e7e7e7; /* Old browsers */
background: -moz-linear-gradient(top, #e7e7e7 0%, #d7d7d7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* IE10+ */
background: linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
height:31px;
}
.asstop h2{
 color:#095160;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 padding:0 0 0 20px;
 float:left;
}
div.button{
 float:right;
 padding:4px 16px 0 0;
}
div.button a{
	float:left;
	display:block;
	color:#fff;
	text-decoration:none;
	/*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
	font-weight:normal;
	padding:0 0 0 11px;
	height:24px;
	line-height:24px;
	text-align:center;
	cursor:pointer;	
	background:url(../images/leftbtn.png) no-repeat left 0;
	background-color:inherit;
}
div.button a span{
	float:left;
	display:block;
	padding:0 11px 0 0;
	background:url(../images/rightbtn.png) no-repeat right 0;
    height:47px;
}
div.button a:hover{
	color:#fff;
	background:url(../images/leftgbtn.png) no-repeat left 0;
	  background-color:inherit;
}
div.button a:hover span{
	color:#fff;
	background:url(../images/rightgbtn.png) no-repeat right 0;
	background-color:inherit;
}
.lightass{
 height:30px;
 background:#f1f1f1;
 clear:left;
 border-bottom:1px solid #d7d7d7;
}
.lightass table{
 margin:0 0 0 20px;
}
.lighttext{
 color:#6d7c7b;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.deepass{
 -webkit-border-radius: 0 0 10px 10px;
 border-radius: 0 0 10px 10px;
 background:#e4e4e4;
 min-height:59px;
}
.deepass table{
 margin:10px 0 0 20px;
}
div.deeplft{
 float:left;
 width:80%;
}
div.buttongreen{
 float:right;
 padding:17px 16px 0 0;
}
div.buttongreen a{
	float:left;
	display:block;
	color:#fff;
	text-decoration:none;
	/*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
	font-weight:normal;
	padding:0 0 0 25px;
	height:24px;
	line-height:24px;
	text-align:center;
	cursor:pointer;	
	background:url(../images/leftgbtn.png) no-repeat left 0;
	background-color:inherit;
}
div.buttongreen a span{
	float:left;
	display:block;
	padding:0 25px 0 0;
	background:url(../images/rightgbtn.png) no-repeat right 0;
    height:47px;
}
div.buttongreen a:hover{
	color:#fff;
	background:url(../images/leftbtn.png) no-repeat left 0;
	  background-color:inherit;
}
div.buttongreen a:hover span{
	color:#fff;
	background:url(../images/rightbtn.png) no-repeat right 0;
	background-color:inherit;
}
.deeptext{
 color:#6d7c7b;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}




.maintable{
 background:#cacaca;
 -webkit-border-radius: 10px 10px 2px 2px;
 border-radius: 10px 10px 2px 2px;
}
.mainhead, .mainheadd, .mainheadleft, .mainheadright{
    border-bottom:1px solid #a9a9a9;
    background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top, #e7e7e7 0%, #d7d7d7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* IE10+ */
	background: linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
	height:31px;
	color:#095160;
	/*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.mainheadleft{
	-webkit-border-radius: 10px 0 0 0;
	border-radius: 10px 0 0 0;
}
.mainheadright{
	-webkit-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0;
}
.mainheadd{
 padding:0 0 0 10px;
}
.maintextlight, .maintextlightd, .maintextlightd1, .maintextlightg, .maintextlightgrespond, .maintextlightg1{
 height:32px;
 color:#6d7c7b;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 background:#ededed;
}
.maintextdeep, .maintextdeepd, .maintextdeepd1, .maintextdeepg, .maintextdeepgrespond, .maintextdeepg1{
 height:32px;
 color:#6d7c7b;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 background:#e3e3e3;
}

.maintextlightd, .maintextdeepd, .maintextdeepg1, .maintextlightg1{
 padding:0 0 0 10px;
}
.maintextlightd1, .maintextdeepd1{
 padding:0 0 0 10px;
 font-weight:bold;
}
.maintextlightd1 p, .maintextdeepd1 p{
 padding:5px 0 5px 10px;
 color:#6d7c7b;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.maintextlightg, .maintextdeepg{
 color:#009a80;
}
.maintextlightg a, .maintextdeepg a{
 color:#009a80 !important;
 font-weight:bold;
}
.maintextlightg1 a, .maintextdeepg1 a, .maintextlightd1 p a, .maintextdeepd1 p a, .maintextlightd a, .maintextdeepd a{
 color:#009a80;
 font-weight:bold;
}
.maintextlightg a:hover, .maintextdeepg a:hover, .maintextlightg1 a:hover, .maintextdeepg1 a:hover, .maintextlightd1 p a:hover, .maintextdeepd1 p a:hover, .maintextlightd a:hover, .maintextdeepd a:hover, .maintextlightgrespond a:hover, .maintextdeepgrespond a:hover{
 text-decoration:underline;
}
.maintextlight a, .maintextdeep a{
 color:#009a80;
 font-weight:normal;
}
.maintextlight a:hover, .maintextdeep a:hover{
 text-decoration:underline;
}
.maintextlightgrespond a, .maintextdeepgrespond a{
 //color:#009a80 !important;
 font-weight:bold;
 background:url(resource:/css/images/respond.png) no-repeat 0 1px;
 padding:0 0 0 18px;
}
.formwrapper{
 width:100%;
 margin:0 auto;
}
.inptinpt{
 background:#fff!important;
 width:444px;
 border: 1px solid #fff!important;
 border-radius: 5px;
 height:35px;
 font-family: Arial, Helvetica, sans-serif!important;
 font-size:14px;
 line-height:23px;
 color:#9d9e9e!important;
 padding:0 0 0 10px;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	
	transition:all 0.25s ease 0s
}

.inptinpt:hover {
	background: #dfe9ec!important;
	color: #414848!important;
}
.inptinpt:focus{
	background:#dfe9ec !important;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.25) inset;
	color:#414848 !important;
	transition:all 0.25s ease 0s
}

.textinpt{
 background:url(../images/inpttextarea.jpg) no-repeat 0 0;
 height:103px;
 width:244px;
  /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 font-size:11px;
 line-height:23px;
 color:#6d7c7b;
 padding:0 0 0 10px;
 border:none;
}
.createbtn{
 background:url(../images/createbtn.jpg) no-repeat 0 0;
 height:28px;
 width:79px;
 border:none;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 color:#fff;
 margin:0 0 0 24px;
}
.createbtn:hover{
 background:url(resource:/css/images/createbtn_hover.jpg) no-repeat 0 0;
}
.formwrapper label{
 color:#095160;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.savebtn{
 background:url(../images/createbtn.jpg) no-repeat 0 0;
 height:28px;
 width:79px;
 border:none;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 color:#fff;
 margin:0 0 0 24px;
}
.savebtn:hover{
 background:url(resource:/css/images/createbtn_hover.jpg) no-repeat 0 0;
}
.cancelbtn{
 background:url(../images/createbtn.jpg) no-repeat 0 0;
 height:28px;
 width:79px;
 border:none;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 color:#fff;
 margin:0 0 0 10px;
}
.cancelbtn:hover{
 background:url(resource:/css/images/createbtn_hover.jpg) no-repeat 0 0;
}

.tablewrap{
	margin:0 auto;
	padding:50px 0px 0px 0px; 
}
.mainhead1, .mainheadleft1, .mainheadright1{
    border-bottom:1px solid #a9a9a9;
    background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top, #e7e7e7 0%, #d7d7d7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* IE10+ */
	background: linear-gradient(top, #e7e7e7 0%,#d7d7d7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
	height:31px;
	color:#095160;
	/*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
	padding:0 0 0 10px;
}
.mainheadleft1{
	-webkit-border-radius: 10px 0 0 0;
	border-radius: 10px 0 0 0;
}
.mainheadright1{
	-webkit-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0;
}
.assbg{
 background:#c9c9c9;
 
}
.orangehead{
 background:url(resource:/css/images/orangehead.jpg) repeat-x 0 0;
 border-left:1px solid #fa8317;
 border-right:1px solid #fa8317;
 color:#383838;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.asshead{
 background:#dde1e5 !important;
 color:#383838 !important;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 outline:1px solid #c9c9c9
}
.whitetextb{
 background:#fff;
 color:#4d4d4d;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 outline:1px solid #c9c9c9
}
.whitetext{
 background:#fff;
 color:#4d4d4d;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 outline:1px solid #c9c9c9
}
.deepcont{
 color:#4d4d4d;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.deepcont1 p{
 color:#4d4d4d;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.bottomtable{
  margin:32px 0 0 0;
}
div.buttonsave{
 float:left;
 margin:15px 3px 0 3px;
}
div.buttonsave a{
	float:left;
	display:block;
	color:#fff;
	text-decoration:none;
	/*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
	font-weight:normal;
	padding:0 0 0 14px;
	height:24px;
	line-height:24px;
	text-align:center;
	cursor:pointer;	
	background:url(../images/leftbtn.png) no-repeat left 0;
	background-color:inherit;
}
div.buttonsave a span{
	float:left;
	display:block;
}
div.buttonsave a:hover{
	color:#fff;
}
div.buttonsave a:hover span{
	color:#fff;
}
.sixpagetext{
 clear:left;
 display:block;
 padding:41px 0 0 0;
 color:#7b7b7b;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.greenbox7{
 //background:url(../images/inner-mainbg.jpg) repeat 0 0;
  background-color:#CCCCCC
 -webkit-border-radius: 0 6px 6px 6px;
 border-radius: 0 6px 6px 6px;
 padding:11px 8px;
}
.textcont{
 color:#095160;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 padding:0 5px 0 0;
}
.textcont a{
 color:#095160;
 text-decoration:underline;
}
.textcont a:hover{
 text-decoration:none;
}
.conttext{
 color:#095160;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.contborder{
 color:#095160;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 border-left:1px solid #fff;
 padding:0 0 0 12px;
}




/* -------------------- pagination starts ----------------- 
.pagination{
	overflow:hidden;
	height:100%;
	padding:20px 0 0 0;
}
.pagination ul {
  width:100%;
  text-align:center;
  margin:0 0 0 30%;
}
.pagination ul li{
	float:left;
	width:auto;
	background-color:inherit;
	margin:0 4px;
}
.pagination ul li a.pre, .pagination ul li a.next{
	font:bold 12px/19px 'Aleo Light', 'Palatino Linotype', Palatino;
	color:#34798a;
	background-color:inherit;
	border:none;
}
.pagination ul li a.pre:hover, .pagination ul li a.next:hover{
    font:bold 12px/19px 'Aleo Light', 'Palatino Linotype', Palatino;
	background-color:#FFF;
	color:#3d3f3f;
	border:none;
}
.pagination ul li a.pre{
  background:url(resource:/css/images/pre.png) no-repeat left 7px;
  padding:0 0 0 12px;
  margin:0 5px 0 0;
}
.pagination ul li a.next{
 background:url(resource:/css/images/next.png) no-repeat 100% 7px;
 padding:0 12px 0 0;
 margin:0 0 0 5px;
}
.pagination ul li a.first, .pagination ul li a.last{
	font:bold 12px/19px 'Aleo Light', 'Palatino Linotype', Palatino;
	color:#34798a;
	background-color:inherit;
	border:none;
}
.pagination ul li a.first:hover, .pagination ul li a.last:hover{
    font:bold 12px/19px 'Aleo Light', 'Palatino Linotype', Palatino;
	background-color:#FFF;
	color:#3d3f3f;
	border:none;
}
.pagination ul li a{
	font:normal 10px/19px 'Aleo Light', 'Palatino Linotype', Palatino;
	color:#34798a;
	background-color:#ddf2f1;
	border:1px solid #bfd9d8;
	padding:0 5px;
	display:block;
}
.pagination ul li a:hover{
	font:normal 10px/19px 'Aleo Light', 'Palatino Linotype', Palatino;
	color:#3d3f3f;
	background-color:#dddddd;
	border:1px solid #cac6c6;
}
.pagination ul li a.active{
	background-color:#dddddd;
	border:1px solid #cac6c6;
	color:#3d3f3f;
}
/* -------------------- pagination ends ----------------- */







.i-footertop{
	background:url(../images/inner-footertop.jpg) repeat-x 0 0 #ffffff;
	height:232px;
	}
.i-footertopwrapper{
	padding:40px 1.35% 0 1.35%;
	}
.foot{
 height:198px;
}
.foot ul{
 width:100%;
}
/*.foot li{
 margin:0 7% 0 0;
}*/
.foot li.link{
 float:left;
 width:5%;
 margin:0 7% 0 1%;
}
.foot li.pricing{
 float:left;
 margin:0 7% 0 0;
}
.foot li.tour{
 float:left;
 margin:0 7% 0 0;
}
.foot li.sign{
 float:left;
 margin:0 7% 0 0;
}
.foot li.support{
 float:left;
 margin:0;
}
.suptable{
 margin:12px 0 0 0;
}
.suptable strong{
}
.suptable span{
 color:#7b8182;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 background-color:inherit;
}
.suptable span a{
 color:#ff660c;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 background-color:inherit;
}
.suptable span a:hover{
 text-decoration:underline;
}
a.signup{
 display:block;
 background:url(../images/signupbtn.jpg) no-repeat 0 0;
 height:33px;
 width:127px;
 margin:12px 0 0 0;
 color:#ffffff;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 text-align:center;
}
a.signup:hover{
 display:block;
 background:url(resource:/css/images/signupbtn_hover.jpg) no-repeat 0 0;
}
a.signfree{
 text-align:center;
 background:url(../images/signfree.png) no-repeat 0 0;
 display:block;
 height:71px;
 width:204px;
 float:left;
 color:#ffffff;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 padding:6px 0 0 0;
}
a.signfree:hover{
 display:block;
 background:url(resource:/css/images/signfree_hover.png) no-repeat 0 0;
}
a.signfree span{
 color:#ffffff;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
}
.foot li div.footdiv {
 float:left;
}
.foot li div.footdiv h2{
 color:#266e67;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 background-color:inherit;
}
.foot li div.footdiv p{
 color:#7b8182;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 width:190px;
 margin:12px 0 0 0;
 background-color:inherit;
}
.foot li div.footdiv ul{
 margin:10px 0 0 0;
}
.foot li div.footdiv li{
 float:none;
}
.foot li div.footdiv li a{
 color:#ff660c;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 background-color:inherit;
}
.foot li div.footdiv li a:hover{
 text-decoration:underline;
}




.i-footerbot{
	background:url(../images/inner-footerbot.jpg) repeat-x 0 0 #ffffff;
	height:44px;
	}





/*
-------------------------------------------
	INNER7 PAGE
-------------------------------------------
*/
.textcont1{
 color:#095160;
 background-color:inherit;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 padding:15px 5px 0 0;
}
.textcont1 span{
 color:#095160;
 background-color:inherit;
}
.textcont1 a{
 color:#095160;
 background-color:inherit;
 text-decoration:underline;
}
.textcont1 a:hover{
 text-decoration:none;
}
h2.update{
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 color:#095160;
 background-color:inherit;
}
ul.updatefeed li{
 border-bottom:1px dashed #cccccc;
 padding:10px 0;
}
a.createbtn{
 background:url(../images/createbtn.jpg) no-repeat 0 0;
 height:28px;
 width:79px;
 border:none;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 color:#fff;
 margin:0 0 0 24px;
 display:block;
 text-align:center;
}
a.createbtn:hover{
 background:url(resource:/css/images/createbtn_hover.jpg) no-repeat 0 0;
}
.upadatefeed_txt{
	/*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
	color:#0a5a6b;
	background-color:inherit;
}
.upadatefeed_txt span{
	padding:0 15px 0 0;
}
.upadatefeed_txt a{
	color:#317f91;
	background-color:inherit;
	text-decoration:underline;
}
.upadatefeed_txt a:hover{
	text-decoration:none;
}

/*
-------------------------------------------
	INNER 8 PAGE
-------------------------------------------
*/
.innertoppad{
	padding:0 0 20px 0;
	overflow:hidden;
	height:100%;
}
.lefttop_content{
	border-right:1px dashed #cccccc;
	width:40%;
	float:left;
	margin-left:10%;
      /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
        color:#338194;
        background-color:inherit;
        text-transform:uppercase;
}
.lefttop_content ul li{
	/*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
	color:#095160;
	background-color:inherit;
}
.lefttop_content ul li font{
    /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
	color:#338194;
	background-color:inherit;
	text-transform:uppercase;
	text-align:right;
	width:38%;
}
.lefttop_content ul li.lock{
	background:url(resource:/css/images/lock.jpg) no-repeat 80% 50%;
}
.lefttop_content ul li.unlock{
	background:url(resource:/css/images/unlock.jpg) no-repeat 80% 50%;
}
.righttop_content{
	width:30%;
	float:left;
	/*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
	color:#338194;
	background-color:inherit;
	text-transform:uppercase;
}
.blacktxt{
	color:#000;
	background-color:inherit;
	text-transform:capitalize;
}
.edit{
 background:url(resource:/css/images/edit.jpg) no-repeat 0 0;
 height:28px;
 width:98px;
 border:none;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 color:#fff;
 margin:15px auto 0;
 display:block;
 text-align:center;
 text-transform:capitalize;
}
.edit:hover{
 background:url(resource:/css/images/edit_hover.jpg) no-repeat 0 0;
}
h2.myconnection{
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 color:#438ea0;
 background-color:inherit;
 padding:0 0 8px 0;
}

/*
-------------------------------------------
	INNER 9 PAGE
-------------------------------------------
*/
h2.etext{
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 color:#438ea0;
 background-color:inherit;
}
.formsection{
 width:749px;
 margin:40px auto 0;
}
.inputinpt{
 background:url(resource:/css/images/inputinpt.jpg) no-repeat 0 0;
 width:204px;
 border:none;
 height:23px;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 font-size:11px;
 line-height:23px;
 color:#6d7c7b;
 padding:0 0 0 10px;
}
.textareainpt{
 background:url(../images/inpttextarea.jpg) no-repeat 0 0;
 height:90px;
 width:204px;
  /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 font-size:11px;
 line-height:23px;
 color:#6d7c7b;
 padding:0 0 0 10px;
 border:none;
}
.updatebtn{
 background:url(../images/createbtn.jpg) no-repeat 0 0;
 height:28px;
 width:79px;
 border:none;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 color:#fff;
 margin:0 0 0 18px;
}
.updatebtn:hover{
 background:url(resource:/css/images/createbtn_hover.jpg) no-repeat 0 0;
}
.inptbig{
 background:url(resource:/css/images/inptbig.jpg) no-repeat 0 0;
 width:573px;
 border:none;
 height:23px;
 /*font-family: 'Aleo Light', 'Palatino Linotype', Palatino;  */
 font-size:11px;
 line-height:23px;
 color:#6d7c7b;
 padding:0 0 0 10px;
}

#rounded-corner
{
        /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
        font-size: 12px;
//      width: 980px;
        text-align: left;
        border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
        background: #b9c9fe url('resource:/css/pz/table-images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
        background: #b9c9fe url('resource:/css/pz/table-images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
        padding: 8px;
        font-weight: normal;
        font-size: 13px;
        color: #039;
        background: #b9c9fe;
}
#rounded-corner td
{
        padding: 8px;
        background: #e8edff;
        border-top: 1px solid #fff;
        color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
        background: #e8edff url('resource:/css/pz/table-images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
        background: #e8edff url('resource:/css/pz/table-images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
        background: #d0dafd;
}

table thead tr th li {list-style:none}

.spacevert {
	display: block;
	float :left;
	background: #ffffff;
	clear: both;
	width: 2px;
	height: 100px;
	position: absolute;
	margin: 10px 10px 10px 10px;
}


input#upload { background: #aaa url(resource:/css/images/bg-btn.png) bottom repeat-x; padding: .4em 1.2em;border: 1px solid #aaa; color: #222; font-size: 1.2em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor: pointer; margin: 2em 0; }
input#upload:hover { background: #eee; color: #111; border-color:#777; }


/*custom upload elements*/
.customfile-input { position: absolute; height: 100px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.customfile { width: 500px; background: #666; cursor: pointer; overflow: hidden; padding: 2px; border: 1px solid #444; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;  position: relative; }
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block; margin: 1px 1px 1px 5px; font-size: 1.2em; color: #fff; font-style: italic; padding: .3em .6em; }
.customfile-feedback-populated { color: #fff; font-style: normal; font-weight: bold; padding-left: 20px; background: url(resource:/css/images/icon-generic.gif) left 4px no-repeat; }
.customfile-button { border: 1px solid #999; background: #333 url(resource:/css/images/bg-submit.gif) bottom repeat-x;  color: #fff; font-weight: bold; float: right; width: 80px; padding: .3em .6em;  text-align: center; text-decoration: none;  font-size: 1.2em; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { color:#111; background: #aaa url(resource:/css/images/bg-btn.png) bottom repeat-x; border-color:#aaa;  padding: .3em .6em;  }
.customfile-focus .customfile-button { outline: 1px dotted #ccc;  }

/*file type icons*/
.customfile-ext-jpg, .customfile-ext-gif, .customfile-ext-png, .customfile-ext-jpeg, .customfile-ext-bmp { background-image: url(resource:/css/images/icon-image.gif);}
.customfile-ext-mp3, .customfile-ext-mp4, .customfile-ext-mov, .customfile-ext-swf, .customfile-ext-wav, .customfile-ext-m4v { background-image: url(resource:/css/images/icon-media.gif);}
.customfile-ext-zip, .customfile-ext-tar, .customfile-ext-sit { background-image: url(resource:/css/images/icon-zip.gif);}



/* Custom checkboxes, radios */

/*	wrapper divs */
.custom-checkbox,.custom-radio { position:relative; }

/* input, label positioning */
.custom-checkbox input,.custom-radio input { position:absolute; left:2px; top:2px; margin:0; }
.custom-checkbox label,.custom-radio label { display:block; position:relative; font-size:1.3em; padding-right:1em; line-height:1; padding:.5em 0 .5em 30px; margin:0 0 .3em; cursor:pointer; }

/* states */
.custom-checkbox label { background:url(../images/checkbox.gif) no-repeat; }
.custom-radio label { background:url(../images/radiobutton.gif) no-repeat; }
.custom-checkbox label,.custom-radio label { background-position:-10px -14px; }
.custom-checkbox label.hover,.custom-checkbox label.focus,.custom-radio label.hover,.custom-radio label.focus { background-position:-10px -114px; }
.custom-checkbox label.checked,.custom-radio label.checked { background-position:-10px -214px; }
.custom-checkbox label.checkedHover,.custom-checkbox label.checkedFocus { background-position:-10px -314px; }
.custom-checkbox label.focus,.custom-radio label.focus { outline:1px dotted #ccc; }

/*toggle button examples*/
#view { width:100px; display: block; }
#view .custom-checkbox,#view .custom-radio { width:50%; float:left; }
#show { width:250px; display: block; clear: left; }
#show .custom-checkbox,#show .custom-radio { width:33%; float:left; }
.toggle label { border-collapse:collapse; }
.toggle .custom-checkbox label,.toggle .custom-radio label { padding:.4em 1em; border:1px solid #aaa; background-color:#eee; text-align:center; cursor:pointer; font-size:1.2em; width:auto; overflow:visible; background:#459e00 url(resource:/css/images/button-green.gif) no-repeat left center; color:#fff; border-color:#2d7406; text-shadow:-1px -1px 0 #37730e; }
.toggle .custom-checkbox label.hover,
.toggle .custom-checkbox label.focus,
.toggle .custom-radio label.hover,
.toggle .custom-radio label.focus { background-position: right center; border-color:#205b00; }
.toggle .custom-checkbox label.checked,
.toggle .custom-radio label.checked,
.toggle .custom-checkbox label.checkedHover,
.toggle .custom-checkbox label.checkedFocus { background:#2d7406; border-color:#2d7406; }
.toggle .first label { -moz-border-radius-bottomleft:7px; -webkit-border-bottom-left-radius:7px; border-bottom-left-radius:7px; -moz-border-radius-topleft:7px; -webkit-border-top-left-radius:7px; border-top-left-radius:7px; }
.toggle .last label { -moz-border-radius-bottomright:7px; -webkit-border-bottom-right-radius:7px; border-bottom-right-radius:7px; -moz-border-radius-topright:7px; -webkit-border-top-right-radius:7px; border-top-right-radius:7px; }


.jquery-checkbox       {display: inline; font-size: 20px; line-height: 20px; cursor: pointer; cursor: hand;}
.jquery-checkbox .mark {display: inline;}

.jquery-checkbox img {vertical-align: middle; width: 60px; height: 20px;}
.jquery-checkbox img{background: transparent url("checkbox.png") no-repeat;}

.jquery-checkbox img{
	background-position: 0px 0px;
}
.jquery-checkbox-hover img{
	background-position: 0px -20px;
}
.jquery-checkbox-checked img{
	background-position: 0px -40px;
}
.jquery-checkbox-checked .jquery-checkbox-hover img {
	background-position: 0px -60px;
}

.jquery-checkbox-disabled img{
	background-position: 0px -80px;
}
.jquery-checkbox-checked .jquery-checkbox-disabled img{
	background-position: 0px -100px;
}


.jquery-safari-checkbox {display: inline; font-size: 16px; line-height: 16px; cursor: pointer; cursor: hand;}
.jquery-safari-checkbox .mark {display: inline;}

.jquery-safari-checkbox img {vertical-align: middle; width: 16px; height: 16px;}
.jquery-safari-checkbox img{background: transparent url(safari-checkbox.png) no-repeat;}

.jquery-safari-checkbox img{
	background-position: 0px 0px;
}
.jquery-safari-checkbox-hover img{
	background-position: -16px 0px;
}
.jquery-safari-checkbox-checked img{
	background-position: 0px -16px;
}
.jquery-safari-checkbox-checked .jquery-safari-checkbox-hover img {
	background-position: -16px -16px;
}

.jquery-safari-checkbox-disabled img{
	background-position: 0px -32px;
}
.jquery-safari-checkbox-checked .jquery-safari-checkbox-disabled img{
	background-position: 0px -48px;
}

	a.adjust{
		padding:10px;
		display:block;
		font-weight:bold;
		background:#eee;
		color:#333;
		border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
		width:80px;
		text-align:center;
		text-decoration:none;
	}
		a.adjust:hover{
			background:#333;
			color:#FFF;
			-webkit-transition: all 400ms; /*safari and chrome */
			-moz-transition: all 400ms ease; /* firefox */
			-o-transition: all 400ms ease; /* opera */
			transition: all 400ms ease;
		}


/* Rel1Start */


.logo_n{ width:200px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:25px; color:#FFFFFF; margin:30px 0px 0px 25px;}

.top_right{ float: right; }

.left_side{	 
	width:auto;
	float:left;
	padding:10px 0px 0px 0px;
	margin-right:25px
	}
	
	
.left_side1{	 
	width:100%;
	float:left;
	padding:15px 0px 0px 0px;
	}

.left_message{
	background-color:#FFFFFF;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border:1px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:0px 0px 0px 0px;
	width:100%;
	float:left;
	}
	
.left_message1{
	background-color:#FFFFFF;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border:1px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	margin:20px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:100%;
	float:left;
	}	
	

.right_side{
	background-color:#FFFFFF;	 
	padding:10px 1% 10px 1%;
	width:76%;
	float: right;
	}	

.right_message{
	background-color:#FFFFFF;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border:1px solid #DFDFDF;	
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:10px 1% 10px 1%;
	width:auto;
	float: none;
	
	}	
	
.right_message1{
	background-color:#FFFFFF;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border:1px solid #DFDFDF;	
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:0px;
	width:100%;
	
	}	
.sidemenu{width:100%;
  padding:0px;
  margin:10px 0px 15px 0px ;
  
}

.sidemenu ul {
	margin:0;
	padding:0;
	list-style:none;
	padding:0px 0px 0px 0px;
	 
	 
}
.sidemenu li {	 
	list-style:none;
	/*font-family: Helvetica, Arial, sans-serif;	 */
	font-size:12px;
	padding:0px;
	color:#333333;
	font-weight:600;
 
}
.sidemenu li a{	 
	text-decoration:none;
	display:block;
	color:#333333;
	padding:10px 0px 10px 15px;	

}
.sidemenu li a:hover, DIV.sidemenu li a.active {
	background: #E7E7E7;	
	text-decoration:none;
	color:#333333;
	
}

.compose{ width:88%; margin:0px auto; padding: 3px 0px 0px 2%; background-image: url(../images/composebutton.png); height:32px; background-repeat:no-repeat; background-size: 100% auto;
/*font-family:Arial, Helvetica, sans-serif;*/
color:#FFFFFF;
font-size:12px;
font-weight: normal; }


.compose a{ color:#FFFFFF; text-decoration:none;    }


.compose a:hover{ color:#FFFFFF; text-decoration:none;    }



.buttons{
	 
	float:left;
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center;
	font-size:12px;
	margin:0px 10px 0px 0px;
	}
	
.buttons a{ background-color:#F4F4F4;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius:5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:5px 10px 5px 10px; color:#545454; text-decoration:none; text-align:center;     }


.buttons a:hover{ background-color:#E6E6E6;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:5px 10px 5px 10px; color:#545454; text-decoration:none; text-align:center;
	    }	
		

.buttons1{
	 
	float:left;
	font-family:Arial, Helvetica, sans-serif; color:#fff; text-align:center;
	font-size:12px;
	margin:10px 10px 0px 0px;
	
	}
	
.buttons1 a{ background-color:#279CE8;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius:5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:7px 12px 7px 12px; color:#fff; text-decoration:none; text-align:center;     }


.buttons1 a:hover{ background-color:#DDDDDD;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:7px 12px 7px 12px; color:#000; text-decoration:none; text-align:center;
	    }	
		
.buttons2{
	 
	float:left;
	margin:0px 10px 0px 0px;
	}	



.buttons3{
	 
	float: right;
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center;
	font-size:12px;
	margin:0px 10px 0px 0px;
	}
	
.buttons3 a{ background-color:#F4F4F4;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius:5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:5px 10px 5px 10px; color:#545454; text-decoration:none; text-align:center;     }


.buttons3 a:hover{ background-color:#E6E6E6;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:5px 10px 5px 10px; color:#545454; text-decoration:none; text-align:center;
	    }	



.buttons4{ width:120px;
	 
	float:left;
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align: left;
	font-size:12px;
	margin:0px 10px 5px 0px;
	}
	
.buttons4 a{ background-color:#F4F4F4;
	-webkit-border-radius: 3px;
	border-radius:5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:5px 3px 5px 3px; color:#545454; text-decoration:none; text-align: left;
	width:120px;  float:left;  }


.buttons4 a:hover{ background-color:#E6E6E6;
	-webkit-border-radius: 3px;
	border-radius: 5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:5px 3px 5px 3px; color:#545454; text-decoration:none; text-align: left;
	width:120px; float:left;
	    }


.filters_main{ width:45%;	 
	float:left;	
	margin:0px 0px 0px 0px;
	}
		
.filters{ width:80px;
	 
	float:left;
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align: left;
	font-size:12px;
	margin:0px 10px 0px 0px;
	}
	
.filters a{ background-color:#F4F4F4;
	-webkit-border-radius: 3px;
	border-radius:5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:5px 3px 5px 3px; color:#545454; text-decoration:none; text-align: left;
	width:80px;  float:left;
	background-image:url(../images/filter_close.png); background-position:right;
    background-repeat: no-repeat; 
	
	    }


.filters a:hover{ background-color:#E6E6E6;
	-webkit-border-radius: 3px;
	border-radius: 5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:5px 3px 5px 3px; color:#545454; text-decoration:none; text-align: left;
	width:80px; float:left;
	    }	
		
.broadcast_button{ 
	 
	float: right;
	font-family:Arial, Helvetica, sans-serif; color:#fff; text-align: left;
	font-size:12px;
	margin:0px 10px 5px 0px;
	}
	
.broadcast_button a{ background-color:#00539F;
	-webkit-border-radius: 3px;
	border-radius:5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:7px 10px 7px 10px; color:#fff; text-decoration:none; text-align: left;
	 }


.broadcast_button a:hover{ background-color:#00539F;
	-webkit-border-radius: 3px;
	border-radius: 5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:7px 10px 7px 10px; color: #FFFF00; text-decoration:none; text-align: left;
 
	    }
		
.blue_button{ 
	 
	float: left;
	font-family:Arial, Helvetica, sans-serif;  text-align: left;
	font-size:12px;
	margin:25px 10px 0px 0px;
	font-weight:600;
	}
	
.blue_button a{ background-color:#00539F;
	-webkit-border-radius: 3px;
	border-radius:5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:7px 15px 7px 15px; color:#fff; text-decoration:none; text-align: left;
	 }


.blue_button a:hover{ background-color:#626262;
	-webkit-border-radius: 3px;
	border-radius: 5px;
	border:0px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:7px 15px 7px 15px; color: #fff; text-decoration:none; text-align: left;
 
	    }
			

.inbox_top{  border-bottom: 1px solid #EBEBEB; border-top: 1px solid #EBEBEB; padding:5px 0px 5px 0px; margin:15px 0px 0px 0px; }

.inbox_top1{  border-bottom: 1px solid #EBEBEB; border-top: 1px solid #EBEBEB; padding:5px 0px 5px 0px; margin:15px 0px 0px 0px; background-color:#F9F9F9; }

.inbox_top2{  border-bottom: 1px solid #EBEBEB; padding:5px 0px 5px 0px; margin:0px;
font-family: Arial, Helvetica, sans-serif; color:#0072B6; font-weight:bold; font-size:14px;   }

.message_num{ float:right;}

.message_num_con{  float:left;  
	padding:3px 10px 3px 0px;  text-decoration:none; text-align:center; color:#545454; font-size:12px;
	    }	
		
.message_num_con1{  float:left; background-image: url(../images/messagearrow.png); background-repeat:no-repeat; background-position:right;
	padding:3px 15px 3px 10px;  text-decoration:none; text-align:center; color:#545454; font-size:12px;
	    }
		
 
.message_num_bg{ background-image:url(../images/round.png); float:left; background-repeat:no-repeat; width:20px; height:20px;
	padding:0px; text-decoration:none; text-align:center; color:#FFFFFF; font-size:12px; margin:0px 10px 0px 0px;
	    }	

.message_num_bg a{  
	padding:0px; text-decoration:none; text-align:center; color:#FFFFFF; font-size:12px; text-decoration: none;
	    }
		
.message_num_bg a:hover{  
	padding:0px; text-decoration:none; text-align:center; color:#FFFFFF; font-size:12px; text-decoration: none;
	    }			



.icon_img{ width:54px; border:1px solid #CCCCCC; padding:5px; float:left; margin:0px 0px 0px 10px; }


.inbox_main{ border-bottom: 1px solid #EBEBEB; padding:0px 0px 15px 0px; margin:15px 0px 0px 0px;}

.inbox_main1{  padding:0px 0px 15px 0px; margin:15px 0px 0px 0px;}

.inbox_main1 p{ padding:0px; margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#545454; line-height:22px; text-align:justify; border:none;}

.chekbox_m{ float: left; }


.con_m{ margin:0px 0px 0px 15px; 
	float:left;	 
	min-width:250px;
	
	}
	
.con_m1{ margin:0px 0px 0px 15px; 
	float:left;
	
	
	}	
	
.con_icon{ margin:10px 15px 0px 0px;
    padding:0px;	 
	float:left;
	 
	
	}
	
.con_m_heading{	
	padding:0px 7px 0px 0px;
	margin: 0px 7px 0px 0px; 
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	
	}	

.con_m_heading a{	
	padding:0px 7px 0px 0px;
	margin: 0px 7px 0px 0px; 
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	
	}	
	
.con_m_para{	
	padding:2px 7px 0px 0px;
	margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#0072B6; text-align:center;
	font-size:12px;
	font-weight: normal;
	text-align:left;
	
	}

.con_m_para a{	
	padding:2px 7px 0px 0px;
	margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#0072B6; text-align:center;
	font-size:12px;
	font-weight: normal;
	text-align:left;
	
	}
	
.con_m_para a:hover{	
	padding:2px 7px 0px 0px;
	margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#0072B6; text-align:center;
	font-size:12px;
	font-weight: normal;
	text-align:left;
	
	}	
	
	
.con_m_para11{	
	padding:2px 7px 0px 0px;
	margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#0072B6; text-align:center;
	font-size:12px;
	font-weight: normal;
	text-align:left;
	
	}

.con_m_para11 a{	
	padding:2px 7px 0px 0px;
	margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#0072B6; text-align:center;
	font-size:14px;
	font-weight: normal;
	text-align:left;
	
	}

.con_m_para1{	
	padding:2px 7px 0px 0px;
	margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center;
	font-size:12px;
	font-weight: normal;
	text-align:left;
	
	}

.con_m_para1 a{	
	padding:2px 7px 0px 0px;
	margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center;
	font-size:12px;
	font-weight: normal;
	text-align:left;
	
	}
	
.con_m_para1 a:hover{	
	padding:2px 7px 0px 0px;
	margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center; text-decoration:underline;
	font-size:12px;
	font-weight: normal;
	text-align:left;
	
	}		

.date_m{	
	padding:3px 7px 3px 7px;
	 margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center;
	font-size:14px;
	text-align: right
	}
	
.pagination_n, .pagination { width:560px;	
	padding:0px;
	 margin:0px auto;
	 margin-top:15px;
	 
	}	
	
.pagination_pre{	
	padding:3px 7px 3px 7px;
	 margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center;
	font-size:12px;
	float: left;
	}	

.pagination_pre{ width:36px;
    height:36px;	
	padding:0px;
	margin:0px;	
	background-image:url(../images/pagination_previous.jpg);
	float:left;
	
	}

.pagination_pre a{width:36px;
    height:36px;
	background-image:url(../images/pagination_previous.jpg);
	float:left;
	
	}
	
.pagination_pre a:hover{	
	width:36px;
    height:36px;
	background-image: url(../images/pagination_previousover.jpg);
	float:left;
	
	}	
	
.pagination_next{ width:36px;
    height:36px;	
	padding:0px;
	margin:0px;	 	
	background-image: url(../images/pagination_next.jpg);
	float:left;
	
	}

.pagination_next a{width:36px;
    height:36px;	 	
	background-image: url(../images/pagination_next.jpg);
	float:left;
	
	}
	
.pagination_next a:hover{	
	width:36px;
    height:36px;	
	background-image: url(../images/pagination_nextover.jpg);
	float:left;
	
	}	
	
		
.pagination_num{width:550px;
  padding:0px;
  margin:0px 0px 15px 0px ;
  float:left;
  
}

.pagination_num ul {
	margin:0;	
	list-style:none;
	padding:0px;
	 
	 
}
.pagination_num li { 
	list-style:none;
	font-family: Helvetica, Arial, sans-serif;	 
	font-size:13px;
	padding:0px;
	color:#333333;
	font-weight:600;
	float: left;
	background:none;
	margin-left:6px;
	text-align:center;
	
 
}




.search_maindiv{
	 
	padding:0px;	 
	width:100%;
	margin:20px 0px 0px 0px;
	 
	 
 
}

.search_main{
	 
	padding:0px;
	margin:0px;
	width:85%;
	float:left;
	 
 
}


.search_inbox{
	background-color:#FFFFFF;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 0px 0px 10px;
	border:1px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:0px 0px 2px 4%;
	margin:0px;
	width:96%;
	height:25px;
 
}


.search_icon{  
	margin:0px;	
	list-style:none;
	padding:0px 0px 0px 0px;
	cursor:pointer;
	width:15%;
	float:left;
	 
	 
}


.search_message{
	background-color:#FFFFFF;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border:1px solid #DFDFDF;	
	padding:0px 1.836734694%;
	overflow:hidden;
}
 
 .repaly_details{	
	padding:3px 0px 3px 0px;
	 margin: 0px 7px 0px 0px;	 
	font-family:Arial, Helvetica, sans-serif; color:#545454; text-align:center;
	font-size:12px;
	float:right;
	}


.top_header{ background-color:#0B4D78; width:100%; height:92px; margin:0px; padding:0px;}


 
.box{
background: #fff;
}
.boxholder{
clear: both;
 

background-color:#FFFFFF;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	 
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:20px 2% 20px 2%;
	width:96%;

}
.tab{
float: left;
height: 32px;
width: 223px;
margin: 0 1px 0 5px;
text-align: center;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
background:  url(../images/tab_img.png) no-repeat;
font-weight:normal;
}

.tab a{ float: left;
height: 26px;
width: 223px;
margin:0;
padding:6px 0px 0px 0px;
text-align: center;
text-transform:uppercase;
color:#FFFFFF;
background:  url(../images/tab_img.png) no-repeat;
}

.tab a:hover{
float: left;
height: 26px;
width: 223px;
margin:0;
padding:6px 0px 0px 0px;
text-align: center;
text-transform:uppercase;
color:#000;
background:  url(../images/tab_imgover.png) no-repeat;
}



.tabtxt{
margin: 0;
color: #fff;
font-size: 12px;
font-weight: bold;
padding: 0px 0 0 0;
}

.tab_tabletext{	 
	list-style:none;
	font-family: Helvetica, Arial, sans-serif;	 
	font-size:12px;
	padding:7px 0px 7px 0px ;
	color:#333333;
	font-weight: normal;
	border-right:1px solid #fff;	
	border-bottom:1px solid #DEDEDE;
	background-color:#E8EAEB;
	text-align:center;
 
}
.tab_tabletext1{	 
	list-style:none;
	font-family: Helvetica, Arial, sans-serif;	 
	font-size:12px;
	padding:13px 0px 13px 0px ;
	color:#333333;
	font-weight: normal;
	border-right:1px solid #DEDEDE;	
	border-bottom:1px solid #DEDEDE;
	text-align:center;
 
}
.tab_tabletext2{	 
	list-style:none;
	font-family: Helvetica, Arial, sans-serif;	 
	font-size:12px;
	padding:13px 0px 13px 0px ;
	color:#333333;
	font-weight: normal;
	border-right:0px solid #DEDEDE;	
	border-bottom:1px solid #DEDEDE;
	text-align:center;
 
}



/*-------------Side Tab Start----------------*/


#basic-accordian{
	
	padding:0px;
	width:100%;
	 
}

.accordion_headings{
	padding:5px;
	background:#F9F9F9;
	color:#000;
	border-bottom:1px solid #E2E2E2;
	border-top:1px solid #E2E2E2;
	cursor:pointer;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-image: url(../images/tabside_arrow.jpg);
	background-position:right;
	background-repeat:no-repeat;
}

.accordion_headings:hover{
	background:#D0D0D0;
	background-image: url(../images/tabside_arrowover.jpg);
	background-position:right;
	background-repeat:no-repeat;
	
}

.accordion_child{
	padding:15px;
	
}

.header_highlight{
	background:#D0D0D0;
	background-image: url(../images/tabside_arrowover.jpg);
	background-position:right;
	background-repeat:no-repeat;
}


.select_one { 

border:0; color:#666; background:transparent;
  background: #E6E6E6 url(../images/aro.png) no-repeat 255px 2px;
 *background:#58B14C; appearance: none;-moz-appearance: none; -webkit-appearance: none;
width:100%;	 
	 
	background-color:#FFFFFF;
	border:1px solid #DFE0E1;
	-webkit-box-shadow:inset 2px 5px 6px 1px #D9D9D9;
 
border-radius:5px;
padding:5px 5px 5px 10px;
font-size:12px; font-family:Arial, Helvetica, sans-serif;}

.select_one1 { 

border:0; color:#666; background:transparent;
  
 *background:#58B14C; appearance: none;-moz-appearance: none; -webkit-appearance: none;
width:92%;	 
	 
	background-color:#FFFFFF;
	border:1px solid #DFE0E1;
	-webkit-box-shadow:inset 2px 5px 6px 1px #D9D9D9;
 
border-radius:5px;
padding:5px 5px 5px 10px;
font-size:12px; font-family:Arial, Helvetica, sans-serif;}
 
/*-------------Side Tab End----------------*/ 



/*-------------Side Tab Start1----------------*/


#basic-accordian{
	
	padding:0px;
	width:100%;
	 
}

.accordion_headings{
	padding:5px;
	background:#0F85CA;
	color:#fff;	 
	cursor:pointer;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	background-image: url(../images/plus.jpg);
	background-position:right;
	background-repeat:no-repeat;
	border-radius: 10px 10px 0px 0px;
	margin:5px 0px 0px 0px;
}

.accordion_headings:hover{
	background:#0F85CA;
	background-image: url(../images/minus.jpg);
	background-position:right;
	background-repeat:no-repeat;
	
}

.accordion_child{
	padding:10px 10px 10px 10px;
	border:1px solid #DEDEDE;
	
}

.header_highlight{
	background:#0F85CA;
	background-image: url(../images/minus.jpg);
	background-position:right;
	background-repeat:no-repeat;
}


.select_one { 

border:0; color:#666; background:transparent;
  background: #E6E6E6 url(../images/aro.png) no-repeat 255px 2px;
 *background:#58B14C; appearance: none;-moz-appearance: none; -webkit-appearance: none;
width:100%;	 
	 
	background-color:#FFFFFF;
	border:1px solid #DFE0E1;
	-webkit-box-shadow:inset 2px 5px 6px 1px #D9D9D9;
 
border-radius:5px;
padding:5px 5px 5px 10px;
font-size:12px; font-family:Arial, Helvetica, sans-serif;}

.select_one1 { 

border:0; color:#666; background:transparent;
  
 *background:#58B14C; appearance: none;-moz-appearance: none; -webkit-appearance: none;
width:92%;	 
	 
	background-color:#FFFFFF;
	border:1px solid #DFE0E1;
	-webkit-box-shadow:inset 2px 5px 6px 1px #D9D9D9;
 
border-radius:5px;
padding:5px 5px 5px 10px;
font-size:12px; font-family:Arial, Helvetica, sans-serif;}



.accordion_con{
	padding:0px; 
	color:#383838;	 
	cursor:pointer;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	 
	margin:5px 0px 0px 0px;
	line-height:20px;
}
 
/*-------------Side Tab End1----------------*/ 


.main_menu{
	height:32px;
	margin:15px 0px 0px 0px;
	
	 
	}
.main_menu ul{
	float:right; 	
}
.main_menu ul li{
	list-style:none;
	float:left;
	font-size:15px;
	padding-right:10px;
	margin-left:8px;
	background:url(../images/menu_right.png) no-repeat right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.main_menu ul li a{
	display:block;
	text-decoration:none;
	color:#fff;
	padding:8px 5px 8px 15px;
	background:url(../images/menu_left.png) no-repeat left;
}
.main_menu ul li.active a{	
	color:#fff;	
	background:url(../images/menu_active_left.png) no-repeat left;
}
.main_menu ul li.active{	
	background:url(../images/menu_active_right.png) no-repeat right;	
}
.main_menu ul li:hover{	
	background:#0085DC  no-repeat right;	
}
.main_menu ul li:hover a{	
	color:#fff;	
	background: #0085DC no-repeat left;
}
.main_menu ul li ul{
	display:none;
	width:250px;
	position:absolute;
	margin-left:-8px;
	
}
.main_menu ul li:hover ul{
	display:block;
}
.main_menu ul li ul li{
	width:100%;
	background:#ccc;
	font-size:13px;
	font-weight:normal;	
}
.main_menu ul li ul li a{
	display:block;
	width:100%;
	background:#ccc;	

}

.main_menu ul li ul li a:hover{
	display:block;
	width:100%;
	background: #FFFFFF;
	color:#000000;	
}

.search_area{ position:absolute; right:23px; margin:50px 0px 0px 0px;}


.search_box{
	background-color:#FFFFFF;
	-webkit-border-radius: 3px;
	border-radius: 4px;
	border:1px solid #DFDFDF;
	padding:0px 1.836734694%;
	overflow:hidden;
	padding:6px 0px 6px 0px;
	width:250px;
	float:left;
	}
	
.search_button{ position:absolute; margin:1px 0px 0px 223px;}


.welcome_admin{
	 
	float: right;
	font-family:Arial, Helvetica, sans-serif; color:#FFC600; text-align:center;
	font-size:12px;
	margin:10px 25px 0px 0px;
	padding:3px 0px 12px 30px;
	background-image:url(../images/welcome_admin.png);
	background-repeat:no-repeat;
	font-weight:bold;
	
	
	}
	
.welcome_admin a{  
	padding:0px; color:#FFC600; text-decoration:none; text-align:center;     }


.welcome_admin a:hover{  
	 
	padding:0px; color:#fff; text-decoration:none; text-align:center;
	    }	


.left_bg{ background-image:url(../images/left_bg.jpg); background-repeat:no-repeat; width:26px; height:396px; 
    position:fixed; top:180px; z-index:1500;
	padding:0px; color:#FFC600; text-decoration:none; text-align:center;     }
	
.profile{ width:100%; float:left; margin:20px 0px 0px 0px; padding:0px 0px 15px 0px; border-bottom:1px solid #EBEBEB; }

.profile_left{ width:30%; float:left; margin:0px; padding:0px; }
.profile_logo{ width:74; float:left; margin:0px 10px 0px 0px; padding:0px; }

.profile_text{  float:left; margin:0px; padding:0px; }



.respond{ margin:0px; padding:0px;}

.respond a{ margin:0px; padding:5px 10px 5px 10px; font-family: Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:12px; background-color:#0F85CA; float:left;}

.respond a:hover{ margin:0px; padding:5px 10px 5px 10px; font-family: Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:12px; background-color:#6A6A6A; float:left;}

.profile_n{ margin:0px; padding:5px 10px 5px 0px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px;  }
.profile_n1{ margin:0px; padding:5px 10px 5px 0px; font-family: Arial, Helvetica, sans-serif; color:#0F85CA; font-size:12px;  }
.profile_n2{ margin:0px; padding:5px 0px 5px 0px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:12px;  }


.profile_right{ width:70%; float:left; margin:0px; padding:0px; }
.profile_right ul{   margin:0px; padding:0px; }
.profile_right ul li{   margin:0px; padding:0px 20px 0px 0px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px; float:left;}

.profile_rightcon{  margin:15px 0px 0px 0px; padding:8px 15px 8px 15px; background-color:#F7F7F7; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px; }
.date_p{  margin:0px; padding:0px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px; float: right ; }
 
.more_p{ margin:0px; padding:0px; float: right;}


.more_p a{ margin:0px; padding:0px; font-family: Arial, Helvetica, sans-serif; color:#0F85CA; font-size:12px; font-weight:bold;   }

.more_p a:hover{ margin:0px; padding:0px; font-family: Arial, Helvetica, sans-serif; color:#6A6A6A; font-size:12px; font-weight:bold;  } 

.profile_cone{ margin:0px; padding:35px 25px 5px 15px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px; font-weight:bold; float: left;  }

.right_side h1{
	margin:0px; padding:0px 0px 10px 0px; font-family: Arial, Helvetica, sans-serif; color:#545454; font-size:20px; font-weight: normal; border-bottom:1px solid #EBEBEB;
	}	
	

.list_menu{ width:100px;
    border:1px solid #DEDEDE;	
	float:right;
	padding: 0px;
	}
.list_menu ul{
	
}
.list_menu ul li{
	list-style:none;
	font-size:13px;
	padding-right:0px;
	margin-left:0px;
	background: url(../images/list_arrow.png) no-repeat right;
	
}
.list_menu ul li a{
	display:block;
	text-decoration:none;
	color:#000;
	padding:2px 5px 2px 15px;	
	
 
}
.list_menu ul li.active a{	
	color:#0F85CA;	
 
}
.list_menu ul li.active{	
 
}
.list_menu ul li:hover{	
	 
}
.list_menu ul li:hover a{	
	color:#000;	
	 
}
.list_menu ul li ul{
	display:none;
	width:100px;
	position:absolute;
	background:#fff;
}
.list_menu ul li:hover ul{
	display:block;
	border:1px solid #DEDEDE;
	background:#fff;
}
.list_menu ul li ul li{
	width:100%;
	background:#fff;
	 
}
.list_menu ul li ul li a{
	display:block;	
	background:#fff;
	color:#333333;
}

.list_menu ul li ul li a:hover{
	display:block;	
	background:#fff;
	color:#0F85CA;	
}
 
/* Rel1End */



.profile{ width:100%; float:left; margin:20px 0px 0px 0px; padding:0px 0px 15px 0px; border-bottom:1px solid #EBEBEB; }

.profile_left{ width:22%; float:left; margin:0px; padding:0px; }
.profile_logo{ width:74; float:left; margin:0px 10px 0px 0px; padding:0px; }

.profile_text{  float:left; margin:0px; padding:0px; }



.respond{ margin:0px; padding:0px;}

.respond a{ margin:0px; padding:5px 10px 5px 10px; font-family: Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:12px; background-color:#0F85CA; float:left;}

.respond a:hover{ margin:0px; padding:5px 10px 5px 10px; font-family: Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:12px; background-color:#6A6A6A; float:left;}

.profile_n{ margin:0px; padding:5px 10px 5px 0px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px;  }
.profile_n1{ margin:0px; padding:5px 10px 5px 0px; font-family: Arial, Helvetica, sans-serif; color:#0F85CA; font-size:12px;  }
.profile_n2{ margin:0px; padding:5px 0px 5px 0px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:12px;  }


.profile_right{ width:70%; float:left; margin:0px; padding:0px; }
.profile_right ul{   margin:0px; padding:0px; }
.profile_right ul li{   margin:0px; padding:0px 20px 0px 0px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px; float:left;}

.profile_rightcon{  margin:15px 0px 0px 0px; padding:8px 15px 8px 15px; background-color:#F7F7F7; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px; }
.date_p{  margin:0px; padding:0px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px; float: right ; }

.more_p{ margin:0px; padding:0px; float: right;}


.more_p a{ margin:0px; padding:0px; font-family: Arial, Helvetica, sans-serif; color:#0F85CA; font-size:12px; font-weight:bold;   }

.more_p a:hover{ margin:0px; padding:0px; font-family: Arial, Helvetica, sans-serif; color:#6A6A6A; font-size:12px; font-weight:bold;  }

.profile_cone{ margin:0px; padding:35px 25px 5px 15px; font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:13px; font-weight:bold; float: left;  }

.ui-dialog-buttonset .ui-button
{
	background:url(../images/inner-navihoverbg.jpg) repeat-x!important;
	-webkit-border-radius: 7px 7px 7px 7px!important;
	border-radius: 7px 7px 7px 7px!important;	
}

.ui-button-text-only .ui-button-text {
	color:#fff!important;
}

/** fixes by rizki */

.ui-dialog input{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
  font-size: 14px !important;
  height: 35px !important;
	transition: all 0.25s ease 0s;
	background:#fff !important;
}

.ui-dialog input:focus{
	background:#dfe9ec !important;
	color:#414848 !important;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.25) inset;
	transition: all 0.25s ease 0s;
}

.dd2{
	min-width:130px !important
}

.dd2 .ddTitle,
.dd3 .ddTitle{
	height:35px;
}

.dd2 .ddTitle span.arrow,
.dd3 .ddTitle span.arrow{
	right:8px;
	top:8px;
}

.dd2 .ddTitle span.ddTitleText,
.dd3 .ddTitle span.ddTitleText{
	font-size:14px;
	display:inline-block;
	padding-top:2px;
	color:#6d7c7b;
}

.dd2 .ddChild{
	min-width:130px !important
}

.filter-penal .greenarea .greenbox{
	padding-left:10px;
	padding-right:10px;
}

.ez-radio{
	min-height:16px;
}

.greenbox label[for="vendors"],
.greenbox label[for="scompanies"]{
	color:#7b8182
}

table.list_table{
	border:none;
	background:#c9c9c9;
	border-radius:0;
	border-collapse:separate;
	border-spacing:1px
}

table.list_table th.asshead, 
table.list_table td.asshead, 
table.list_table th.orangehead, 
table.list_table td.orangehead{
	padding:0 !important
}

.asshead{
	background:#dde1e5;
	font:bold 13px/28px Arial,Helvetica,sans-serif !important;
	text-shadow:none;
}

.orangehead{
	background:url("../../images/orangehead.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
	font:bold 11px/28px Arial,Helvetica,sans-serif !important;
	color:#383838 !important;
	text-shadow:none;
}

table.list_table th, 
table.list_table th.sortable a{
	font:bold 11px/24px Arial,Helvetica,sans-serif !important;
	text-shadow:none;
	padding:0 !important;
	background:#fff
}

table.list_table td.whitetextb{
	font:11px/25px Arial,Helvetica,sans-serif !important;
	color:#4d4d4d
}

.dd5 .ddChild{
	min-width:92px;
}

table.list_table td.head{
	font:bold 13px/24px Arial,Helvetica,sans-serif !important
}

.deepcont{
	font:bold 11px/55px Arial,Helvetica,sans-serif !important
}

a.adjust{
	float:right;
	display:block;
	font-weight:bold;
	color:#333
}

.con_m_para1 a{
	padding:10px;
	text-align:center;
	margin-right:0;
}

.con_m_para1 a:hover{
	padding:10px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	margin:0;
	font-weight:bold;
}

.moreblock{
	margin-bottom:15px;
}

.moreblock a:hover{
	color:#333;
	font-weight:normal;
	text-decoration:underline
}

.select-general {
	width: 343px;
	padding-left: 15px;
	height: 37px;
	border-radius: 5px;
	border: 1px solid #ccc;
	color:#000;
	font-weight:normal;
	margin-bottom:0 !important;
	cursor:pointer;
}
.select-general:hover {
	background:#ddd
}


/** overwrite feb-20 - nav styling */
.i-headerwrapper:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.i-headerwrapper { display: inline-block; width:100%; padding:0 }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.i-headerwrapper ul{
	width:auto;
	display:inline-block;
	margin:0;
	padding:0;
}

.i-header{
	background:none;
	box-shadow:none;
	height:auto;
}

.i-bodycontentwrapper{
	padding-top:25px;
}

#navmenu,
#navmenu ul,
#navmenu ul li,
#navmenu ul li a,
#navmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#navmenu:after,
#navmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#navmenu #menu-button {
  display: none;
}
#navmenu {
  width: auto;
	text-align:center;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #0a3151; //#39b1cc;
  background-color:#0a3151;
/*
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
*/
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
	border-top:1px solid #2d97af
}
#navmenu > ul {
	margin:auto
}
#cssmenu.align-right > ul > li {
  float: right;
}
#navmenu > ul > li {
  float: left;
  display: inline-block;
}
#navmenu.align-center > ul {
  float: none;
  text-align: center;
}
#navmenu.align-center > ul > li {
  float: none;
}
#navmenu.align-center ul ul {
  text-align: left;
}

#navmenu > ul > li:first-child > a{
	border-left: 1px solid rgba(80, 80, 80, 0.12);
}

#navmenu > ul > li > a {
  padding: 18px 25px 21px 25px;
  border-right: 1px solid rgba(80, 80, 80, 0.12);
  text-decoration: none;
  font-size: 16px/35px;
  font-weight: 700;
  color: #d3eced;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#navmenu > ul > li:hover > a,
#navmenu > ul > li > a:hover,
#navmenu > ul > li.active > a {
  color: #ffffff;
  background: #32a9c3;
  background: rgba(0, 0, 0, 0.1);
}
#navmenu > ul > li.has-sub > a {
  padding-right: 25px;
}

#navmenu > ul.searchname > li.has-sub > a:after{
	right: 7px !important;
}

#navmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 22px;
}
#navmenu > ul > li.has-sub.active > a::after,
#navmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
#navmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 6px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
#navmenu.align-right ul ul {
  text-align: right;
}
#navmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
#navmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
#navmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
#navmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}
#navmenu > ul > li > ul {
  top: 120px;
	z-index:1
}
#navmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
#navmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
#navmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#navmenu.align-right ul ul ul {
  padding-right: 6px;
}
#navmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
#navmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
#navmenu ul ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
  width: 180px;
  color: #777777;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align:left;
	border-bottom:1px solid #ececec
}
#navmenu ul ul li:hover > a,
#navmenu ul ul li.active > a {
  color: #333333;
}
#navmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#navmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#navmenu > ul > li > ul::after {
  position: absolute;
  display: block;
}
#navmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
#navmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px;
}
#navmenu ul ul li.has-sub.active > a::after,
#navmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
#navmenu.align-right ul ul li.has-sub.active > a::after,
#navmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent;
}

.i-headerwrapper{
	
}

.i-headerwrapper ul li a:hover, .i-headerwrapper ul li a.active{
	border-radius:0
}

#navmenu .container{
	margin:0 15px;
}

#navmenu ul.serachname{
	width:auto;
	float:right;
	margin-right:15px;
}

#navmenu ul.serachname > li > a{
	padding-left:15px;
	padding-right:20px;
}

#navmenu ul.serachname > li:hover > ul{
	right:0;
}

#navmenu ul.serachname > li > ul:after{
	left:auto;
	right:20px;
}

.headcontainer{
	margin:0;
	width:100%;
	background:#005387; //#51bbd2;
	padding:15px 0 !important;
}

.col-left{
	width:25%;
	float:left;
	text-align:center
}

.col-center{
	width:50%;
	float:left;
	text-align:center
}

.col-right{
	width:25%;
	float:right;
	text-align:center
}

.searchinptarea{
	float:none;
	width:100%;
	margin-left:0;
}

.clearfix:after {
	visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

ul.serachname{
	float:none;
	display:inline-block;
}

ul.serachname li{
	padding:0;
}

ul.serachname li a{
	display:block;
	padding:6px 12px;
	padding-right:30px;
	text-transform:uppercase;	
	background:#D3ECED;
	color:#333;
	border-radius:0;
		-webkit-transition: all 400ms; /*safari and chrome */
		-moz-transition: all 400ms ease; /* firefox */
		-o-transition: all 400ms ease; /* opera */
	transition: all 400ms ease;
}

ul.searchname li:hover a{
	background:#0F7589;
	-webkit-transition: all 400ms; /*safari and chrome */
			-moz-transition: all 400ms ease; /* firefox */
			-o-transition: all 400ms ease; /* opera */
			transition: all 400ms ease;
			color:#fff !important;
			text-decoration:none;
}

ul.serachname > li > a::after{
	content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #333;
  right: 8px;
  top: 22px;
}

ul.serachname li ul.sub{
	display:none
}

ul.serachname li a span{
	padding:0 !important;
	font-size:14px;
}

.click-nav{
	display:inline-block;
}

.click-nav ul{
	position:relative
}

.click-nav ul > li > ul{
	position:absolute;
	min-width:200px;
	top:62px;
	right:0;
	z-index:2;
	background:#fff;
	border:1px solid #ECECEC;
}

.click-nav ul > li > ul::after{
	content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #ffffff;
  top: -22px;
  right: 20px;
}

.click-nav ul > li > ul > li > a{
	display:block;
	background:#fff;
	color:#333333;
	padding:8px 20px;
	border-bottom:1px solid #ececec;
	border-radius:0
}

.click-nav ul > li > ul > li > a:hover{
	background:#fafafa
}

.click-nav ul > li > ul > li:last-child > a{
	border-bottom:none
}

#searchlist .dropdown1{
	min-width:150px;
}

#searchlist .dropdown1 dt{
	
}

#searchlist .dropdown1 dt a{
	color:#A0A0A0;
	background:none;
	display:block;
	padding:12px 28px 12px 12px;
	height:auto;
	font-size:18px;
	width:auto;
}

#searchlist .dropdown1 dt a span{
	padding:0;
}

#searchlist .dropdown1 dt a:after{
	content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #A0A0A0;
  top: 19px;
  right: 5px;
	
}

#searchlist .dropdown1 dt{
	background:#fefefe;
	background: linear-gradient(to bottom, #fefefe 0%, #f1f1f1 100%);
	border-radius:6px 0 0 6px;
	position:relative;
	border:1px solid #CACACA;
		-webkit-transition: all 400ms; /*safari and chrome */
		-moz-transition: all 400ms ease; /* firefox */
		-o-transition: all 400ms ease; /* opera */
	transition: all 400ms ease;
}

#searchlist .dropdown1 dt:hover{
	background:#F7F7F7;
	background: linear-gradient(to bottom, #F7F7F7 0%, #E4E4E4 100%);
		-webkit-transition: all 400ms; /*safari and chrome */
		-moz-transition: all 400ms ease; /* firefox */
		-o-transition: all 400ms ease; /* opera */
	transition: all 400ms ease;
}

#searchlist .dropdown1 dt:focus,
#searchlist .dropdown1 dt:active{
	background:#F7F7F7;
	background: linear-gradient(to bottom, #F7F7F7 0%, #E4E4E4 100%);
	box-shadow:0 -3px 0 rgba(0, 0, 0, 0.05) inset;
}

#searchlist .dropdown1 dd ul{
	background:#f1f1f1;
	border:1px solid #CACACA;
	border-radius:6px;
	padding:0;
	left:0;
	
}

#searchlist .dropdown1 dd ul li a{
	display:block;
	padding:12px 28px 12px 12px;
	color:#a0a0a0;
	text-align:left;
	font-size:16px
}

#searchlist .dropdown1 dd ul li a:hover{
	background:#fafafa;
}



#searchlist .dropdown1 dd ul li:first-child a:hover{
	background:#fafafa;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}

#searchlist .dropdown1 dd ul li:last-child a:hover{
	background:#fafafa;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}

.searchinpt{
	height:19px;
	background:#fff;
	padding:8px;
	font-size:16px;
	border-color:#CACACA transparent #CACACA transparent;
	border-width:1px 0 1px 0;
	border-style:solid;
	padding:10px 0 10px 10px;
	width:100%;
}

/*
#mainsearchform{
	background:#d3eced;
	padding:10px;
	float:none;
	border-radius:4px;
	display:inline-block;
	width:100%
}

#mainsearchform button#mainsearch{
	float:left;
	background:#5C6067;
	background: linear-gradient(to bottom, #5C6067 0%, #313A43 100%);
	padding:12px;
	border-radius:0 6px 6px 0;
	cursor:pointer;
	border-color:#72787F;
	border-width:1px 1px 1px 0;
	border-style:solid;
		-webkit-transition: all 400ms; 
		-moz-transition: all 400ms ease; 
		-o-transition: all 400ms ease; 
	transition: all 400ms ease;
}

#mainsearchform button#mainsearch:hover{
	background:#41464E;
	background: linear-gradient(to bottom, #41464E 0%, #1C2E3A 100%);
		-webkit-transition: all 400ms; /
		-moz-transition: all 400ms ease; 
		-o-transition: all 400ms ease; 
	transition: all 400ms ease;
}

#mainsearchform i.fa{
	color:#fafafa
}

*/

.searchblock-wrapper .people{
	padding:0;
	background:#d3eced;
	border-radius:4px 0 0 4px;
	width:auto;
	min-width:150px
}

.input-group{
	
}

#tabs.ui-widget-content{
	padding-top:0
}

.tablewrap{
	padding-top:10px
}

.hide_and_show_filter_active{

}


/** new buttons classification css 
.btn{
	border-radius:6px;
	border:1px solid transparent;
	background:#ddd;
	display:inline-block;
	line-height:1.42857;
	padding:6px 12px;
	margin-bottom:0;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	cursor:pointer;
	color:#333;
}
*/

.btn-broadcast{
	background:#0079bc;
	background:linear-gradient(to bottom ,#0079bc 0%, #00509d 100%);
	color:#fff;
	padding:6px 18px;
	text-transform:uppercase;
}

.btn-broadcast-filter{
	padding:4px 10px;
	font-size:14px;
}

.btn-unfollow{
	font-size:14px;
	line-height:15px;
	font-family:Arial;
	padding:6px 12px;
	text-transform:capitalize;
}

.btn-broadcast:hover,
.btn-broadcast:active{
	background:#00509d;
}

.btn-cancel{
	background:#d9534f;
	background:linear-gradient(to bottom ,#d9534f 0%, #c9302c 100%);
	color:#fff;
	font:16px/22px "Aleo Light","Palatino Linotype",Palatino;
	padding:6px 18px;
	text-transform:uppercase;
}

.btn-cancel:hover,
.btn-cancel:active{
	background:#c9302c;
}


.dd2 .ddChild a{
	padding:6px 12px;
}

#filterdd_msdd,#filterdd_child{
	min-width:220px !important
}

#dialog-addInventory{
	height:auto !important
}

.con_m1_r{
	min-width:200px;
}

.con_m1_r .date_m{
	padding-top:0;
	padding-bottom:0;
}



/** INDIVIDUAL CUSTOM DIALOG WIDTH & HEIGHT **/

.ui-dialog.personview{
	width:1175px !important;
	min-width:1175px !important;
	left: auto;
}

.ui-dialog.alertbroadcastresponse {
	width:905px !important;
}

.ui-dialog.delInventory{
	height:175px !important;
	top:auto;
}

/** INBOX new styling */
.left_side{
	padding-top:0;
}

.left_side .compose{
	margin:10px 15px;
}

.left_side .compose a{
	display:block;
	padding:7px 7px 12px;
}

.left_side .compose i.fa{
	position:absolute;
	right:15px;
	top:5px;
	color:#fff;
	transform:rotate(-19deg);
		-ms-transform: rotate(-19deg); /* IE 9 */
    -webkit-transform: rotate(-19deg); /* Safari and Chrome */
    -o-transform: rotate(-19deg); /* Opera */
    -moz-transform: rotate(-19deg); /* Firefox */
		-webkit-backface-visibility: hidden;
	opacity:0.35
}

.inbox-control{
	padding:5px 0 10px
}

.inbox-control .message_num_con{
	padding:0 15px 0 5px;
}

.inbox-control .chekbox_m{
	padding-right:10px;
	cursor:pointer
}

.inbox-control .chekbox_m label{
	font-family:Arial;
	cursor:pointer
}

.right_message{
	text-align:center
}

.right_message .icon_img{
	margin:0 10px;
	padding:0;
	border:none;
	width:auto;
	min-height:250px
}

.right_message .icon_img img{
	padding:5px;
	border:1px solid #cccccc;
}

.right_message .con_m{
	float:none;
	text-align:left;
}

.right_message .con_icon a{
	display:block;
}

.right_message i.fa{
	transition:all 0.25s ease 0s
}

.right_message i.fa:hover{
	color:#111;
	transition:all 0.25s ease 0s
}

.right_message .date_m{
	font-weight:normal
}

.right_message .con_m_para1 a,
.right_message .con_m_para1 a:hover{
	padding:10px 0;
}

a.adjust,
.right_message a.adjust,
.profile_right .more_p a{
	background:#0079bc;
	background:linear-gradient(to bottom ,#0079bc 0%, #00509d 100%);
	border-radius:6px;
	color:#fff !important;
	width:auto;
	padding:10px 30px
}

a.adjust,
.right_message a.adjust:hover,
.profile_right .more_p a:hover{
	background:#00509d !important;
	color:#fff !important;
	width:auto;
	padding:10px 30px;
	border-radius:6px;
}

.right_message .moreblock{
	margin-bottom:5px;
}

.right_message .con_icon{
	float:none;
	margin:0;
	display:inline-block;
	padding:0;
}

.right_message .con_icon{
	margin-left:5px;
	margin-right:5px;
}

.right_message .con_m .con_icon:first-child{
	margin-left:0;
}

.right_message .con_m .con_icon:last-child{
	margin-right:0;
}


.right_message .moreblock{
	padding:10px 0 0
}

.inbox-control .buttons a{
	background:#0079bc;
	background:linear-gradient(to bottom ,#0079bc 0%, #00509d 100%);
	border-radius:6px;
	color:#fff;
}

.inbox-control .buttons a:hover{
	background:#00509d;
	color:#fff;
}

.left_search{
	margin-top:90px
}

.left_search input{
	float:left;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	height:35px;
	border:1px solid #ccc;
	border-right:none;
	padding-left:10px;
	font-size:16px;
	font-weight:normal;
	width:218px;
	max-width:218px
}

.left_search .btn-msg-search{
	border-radius:0;
	background:#5c6067;
	background:linear-gradient(to bottom ,#5c6067 0%, #313a43 100%);
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	display:inline-flex;
	padding:10px 12px;
	transition:all 0.25s ease 0s
}

.left_search .btn-msg-search:hover{
	background:#41464e;
	background:linear-gradient(to bottom ,#41464e 0%, #1c2e3a 100%);
	transition:all 0.25s ease 0s
}

.left_search .btn-msg-search i.fa{
	color:#fff;
}

.filter-penal .greenarea h3.page_collapsible:hover, .filter-penal .greenarea h3.collapse-open, .page_collapsible{
	background:#fff !important;
	position:relative;
	color:#000;
	letter-spacing:0;
	font-size:14px !important;
	text-transform:uppercase;
}

.filter-penal{
	border:none;
	border-radius:0;
}

.filter-penal h3{
	font-weight:normal;
	text-transform:uppercase;
	position:relative;
}

.filter-penal .greenarea h3.page_collapsible, .filter-penal .greenarea h3.page_collapsiblem{
	font-size:14px !important;
	letter-spacing:0
}

.filter-penal h3 span i.fa{
	color:#333;
	font-size:12px;
}

.accordion-open span, .collapse-open span,
.accordion-close span, .collapse-close span{
	background:none;
	display:inline-block;
	float:none;
	position:absolute;
	right:5px;
	top:7px;
	padding:0
}


ul.unstyled{
	list-style:none
}

.opt-list span{
	display: inline-block;
}

.opt-list li{
	font-size: 16px;
	line-height: 40px;
}

ul.bcast-filter > li{
	float:none;
	padding:3px 0
}

ul.bcast-filter > li > label{
	color:#333;
	font-family:Arial;
	margin-left:5px;
	font-size:13px;
}

ul.bcast-filter > li > input{
	vertical-align:middle;
}

.filter-penal .greenarea h3.page_collapsible, .filter-penal .greenarea h3.page_collapsiblem{
	border-bottom:none;
}

#signal_parts .greenarea:last-child{
	border-bottom:1px solid #e2e2e2
}

.filterinput-wrap{
	position:relative
}

.filterinput-wrap i.fa{
	position:absolute;
	right:5px;
	top:0;
	color:#999
}

.filterinput-wrap span i.fa{
	color:#777;
	cursor:pointer;
}


.greenbox label[for="vendors"], .greenbox label[for="scompanies"]{
	color:#333;
	font-family:Arial;
	font-size:12px;
	margin-left:5px;
}

#partlist_msdd,#partlist_child, #filterddM_msdd, #filterddM_child{min-width:220px !important}

.filter-penal .greenarea h3.page_collapsible, .filter-penal .greenarea h3.page_collapsiblem{
	background:#fff
}

.ui-dialog-buttonset .ui-button{
	background:#0079bc !important;
	background:linear-gradient(to bottom ,#0079bc 0%, #00509d 100%) !important;
	border-radius:6px !important;
	color:#fff !important;
}

.inner-contrightpan{
	position:relative;
	margin:0;
	padding-left:20px;
}

.inner-contrightpan .collapse-icon-left{
	position:absolute;
	left:0;
	top:0;
	cursor:pointer;
}

.inner-contrightpan .collapse-icon-left:hover i.fa{
	color:#000
}

#countrySelect_child{
	width:252px !important;
}

#selectstate_msdd, #selectstate_child{width:260px !important;}
.broadcastFilterForm input[type="radio"]{height:auto !important;}
.broadcastFilterForm label{margin-left:5px;}
.broadcastFilterForm .defaultP{margin-left:5px;}
.bodyArea{background:none}
.drop{
	cursor:pointer;
	display:inline-block;
	padding:0 15px;
}
.dropmenu {
	display:none;
	width:200px;
	background:#fff;
	border: 1px solid #ccc;
	padding-top:15px;
	padding-bottom:15px;
	position:absolute;
	left:130px;
}

.dropmenu li {
	background-color: #fff;
}

.dropmenu li a {
	color:#333; 
	text-decoration:none; 
	padding:10px; 
	display:block;
}
.dropmenu li:hover{
	background:#f8f8f8
}
.dropmenu li:hover a {
	padding:10px;
	color: #000;
}

.search_message{
	float:none;
	border:none;
	padding:10px;
	font-family:Arial;
}

.formeditcompany{
	width:auto
}

#membershiplevel_child{
	width:252px
}

#countrySelect, #stateSelect select, select.stdSelect, select#timezone {
	border:1px solid #ccc;
	margin:0;
	min-width:300px;
	padding:4px;
	height:auto;
	padding-left:0;
	border-radius:0;
}

#countrySelect{
	padding:0;
}

#countrySelect:hover{
	background:none
}

.btn-update-company{
	margin-top:25px;
}

.hide_and_show_filter_inactive{
	position:absolute;
	left:0;
	top:0;
	margin:0;
}

.hide_and_show_filter_active{
	position:absolute;
	left:0;
	top:0;
	margin:0;
}

.compose{
	background:linear-gradient(to bottom, #0076b9 0%, #00529f 100%);
	border-radius:6px;
	height:auto;
	position:relative;
	width:auto;
	padding:0;
}

#myInventory,
#myWatchlist,
#myVendor{
	text-align:center
}

.ui-dialog .ui-dialog-titlebar{
	padding:0.8em 1em !important;
}

.ui-dialog .ui-dialog-title{
	font-size:15px
}

#tableRowM .pagination_n{
	margin-top:60px
}

#tableRowM .broadcast_m_title{
	font-family:Arial;
	font-size:13px;
	color:#333;
	display:inline-block;
	margin-bottom:10px;
}

#tableRow .pagination_n{
	margin-top:60px
}

.errors{
	background:#F2DEDE;
	border:1px solid #ebccd1;
	padding:6px 10px;
	border-radius:4px;
	margin-bottom:15px
}

.errors ul > li{
	margin:5px 0;
	color:#A94442
}

.profile_n2{
	font-size:13px;
}

.profile_n{
	font-size:14px;
}

.htmldscr p{
	font-size:16px;
}

.ui-dialog-content p{
	font-size:1.27em;
	margin:15px 0;
}

.btn-grp-showcolumn .buttonsave a{
	border-radius:6px;
	border:1px solid transparent;
	display:inline-block;
	line-height:1.42857;
	padding:6px 12px;
	margin-bottom:0;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	cursor:pointer;
	background:#0079bc;
	background:linear-gradient(to bottom ,#0079bc 0%, #00509d 100%);
	color:#fff;
	font:16px/22px "Aleo Light","Palatino Linotype",Palatino;
	padding:6px 18px;
}

.btn-grp-showcolumn .buttonsave a:hover,
.btn-grp-showcolumn .buttonsave a:active{
	background:#00509d;
}

#columnMap .dd2 .ddTitle span.ddTitleText{
	line-height:19px
}

ul.filter-list{
	height:auto !important
}

ul.filter-list > li > input[type="checkbox"]{
	outline:0;
	box-shadow:none
}

#dialog-filter input[type="checkbox"]{
	outline:0;
	box-shadow:none;
	height:auto !important;
}



ul.filter-list > li{
	float:left;
	margin: 0 2px;
	min-width:48%
}
.filterdialog {
	max-width:500px;
	margin-left:5px;
}
.filterdialog i.fa{
	top:10px
}

.vendor-eachtab{
	position:relative
}

.icon-img{
	padding: 5px;
	border: 1px solid #cccccc
}

.row-item{
	padding-top: 15px;
	padding-bottom: 15px;
}
#wrapper-inner{
	min-height: 595px
}

.pagination a.step,
.tab-bottom-pagination a.step{
	font-family: Helvetica,Arial,sans-serif;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #333333;
	display: inline-block;
	font-size: 15px;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	margin-left: 6px
}
	
.pagination a.step:hover,
.tab-bottom-pagination a.step:hover{
	background: #f0f0f0;
	border-radius: 5px;
}
	
.pagination .currentStep,
.tab-bottom-pagination .currentStep,
.pagination .nextLink,
.tab-bottom-pagination .nextLink{
	font-family: Helvetica,Arial,sans-serif;
	background: #f9f9f9 none repeat scroll 0 0;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	padding: 6px 12px;
	color: #00a2d9;
	text-decoration: none;
	font-weight: 600;
	margin-left: 6px
}
.pagination .nextLink,
.tab-bottom-pagination .nextLink{
	color: #d5d5d5
}
.pagination .nextLink:hover,
.tab-bottom-pagination .nextLink:hover{
	color: #00a2d9;
}

.multiplepart h4,
.multiplepart h3{
	margin: 0
}
.multiplepart h3{
	font-size: 16px;
    margin-bottom: 15px;
    margin-top: 0;
}
.multiplepart .item-feed{
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #ddd
}

.multiplepart .item-feed:last-child{
	border-bottom: 1px solid #ddd
}

.multiplepart .item-feed img{
	background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: auto;
    max-width: 100%;
    padding: 4px;
}
.multiplepart .btn-broadcast{
	font-family: "Open Sans",Helvetica,Arial,sans-serif
}

.main-content.vendor{
	min-height: 800px;
}

@media only screen and (min-width : 320px) {
	.opt-list span{
		min-width: 0;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.opt-list span{
		min-width: 150px;
	}
}

.top-buffer{
	margin-top: 15px;
}

.bottom-buffer{
	margin-bottom: 15px;
}
.table-person table td{
	padding: 0
}
.table-person .edit-detail{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}

.tab-content-right i.fa{
	color: #fff
}