<ul>
<!--
								<li><g:link   id="${(params.action == 'list')?'selected_search_tab':' '}"  class="${(params.action == 'list')?'selected':' '}" url="[action:'list']"   ><span><span>All</span></span></g:link></li>
								<li><g:link  id="${(params.action == 'wtb')?'selected_search_tab':' '}" class="${(params.action == 'wtb')?'selected':' '}" url="[action:'wtb']"   ><span><span>WTB on Inventory</span></span></g:link></li>
								<li><g:link  id="${(params.action == 'wts')?'selected_search_tab':' '}" class="${(params.action == 'wts')?'selected':' '}" url="[action:'wts']"   ><span><span>WTS on Inventory</span></span></g:link></li>
								<li><g:link  id="${(params.action == 'wtbWatchlist')?'selected_search_tab':' '}" class="${(params.action == 'wtbWatchlist')?'selected':' '}" url="[action:'wtbWatchlist']"   ><span><span>WTB on Watchlist</span></span></g:link></li>
								<li><g:link  id="${(params.action == 'wtsWatchlist')?'selected_search_tab':' '}"  class="${(params.action == 'wtsWatchlist')?'selected':' '}" url="[action:'wtsWatchlist']"   ><span><span>WTS on Watchlist</span></span></g:link></li>
 -->
								<li><g:link   id="${(params.action == 'list')?'selected_search_tab':' '}"  class="${(params.action == 'list')?'selected':' '}" url="[action:'list']"   ><span><span>List</span></span></g:link></li>
								<li><g:link  id="${(params.action == 'wtsWatchlist')?'selected_search_tab':' '}"  class="${(params.action == 'wtsWatchlist')?'selected':' '}" url="[controller:'broadcastFilterAlert', action:'list']"   ><span><span>Alert Settings</span></span></g:link></li>
								<li><g:link  id="${(params.action == 'wtsWatchlist')?'selected_search_tab':' '}"  class="${(params.action == 'wtsWatchlist')?'selected':' '}" url="[action:'list']"   ><span><span>My Countries</span></span></g:link></li>

</ul>