<li>
	<g:link class="create" action="create">New Broadcast</g:link>
</li>
<li>
	<g:link class="create" action="searchinit">Search</g:link>
</li>
<li>
	<g:link class="create" controller="broadcastResponse" action="list">Response Inbox</g:link>
</li>
<li>
	<g:link class="create" action="mybroadcasts">My Broadcasts</g:link>
</li>
