<ul>
								<li><g:link  id="selected_search_tab" url="[action:'list']"   ><span><span>All Broadcasts</span></span></g:link></li>
								<li><g:link    url="[action:'myconnections']"   ><span><span>MyConnection Broadcasts</span></span></g:link></li>
								<li ><g:link   url="[action:'create']"   ><span><span>Create</span></span></g:link></li>
<%
/*								<li><g:link   url="[action:'searchinit']"   ><span><span>Search</span></span></g:link></li>
								<li><g:link   url="[action:'mybroadcasts']"   ><span><span>My Broadcasts</span></span></g:link></li> 
								<li ><g:link   url="[controller:'privatebroadcastinbox',action:'list']"   ><span><span>MyVendor Broadcasts</span></span></g:link></li>
*/
%>
								<li><g:link  id="selected_search_tab" url="[controller:'broadcastFltr', action:'list']"   ><span><span>Filters</span></span></g:link></li>

</ul>
