<ul id="search_tabs"  >
	<li><g:link  id="selected_search_tab" url="[controller:'person' , action:'view']"   ><span><span>Profile</span></span></g:link></li>
	<li><g:link   url="[controller:'company' , action:'show']"   ><span><span>Company</span></span></g:link></li>
	<li><g:link   url="[controller:'person' , action:'list']"><span><span>Employee List</span></span></g:link></li>
	<li><g:link   url="[controller:'person' , action:'addemployee']"><span><span>Add Employee</span></span></g:link></li>
	<li><g:link   url="[controller:'person' , action:'addemployee']"><span><span>Change Password</span></span></g:link></li>
	<li><g:link   url="[controller:'person' , action:'addemployee']"><span><span>Out Of Office</span></span></g:link></li>
</ul>


