           <dt><a href="javascript:void(0);"><span>${flash.searchtype}</span></a></dt>
                                <dd>
                                        <ul style="display: none;">
                                <g:if test="${(flash.searchtype != "Parts") && (flash.searchtype != null) }" >
                                                <li><a href="javascript:void(0);"  >Parts</a></li>
                                </g:if>
                                <g:if test="${flash.searchtype != "Broadcasts" }" >
                                                <li><a href="javascript:void(0);"  >Broadcasts</a></li>
                                </g:if>
                                <g:if test="${flash.searchtype != "Inventory" }" >
                                                <li><a href="javascript:void(0);" >Inventory</a></li>
                                </g:if>
                                <g:if test="${flash.searchtype != "Company" }" >
                                                <li id="icompany" ><a href="javascript:void(0);" >Company</a></li>
                                </g:if>
                                <g:if test="${flash.searchtype != "People" }" >
                                                <li><a href="javascript:void(0);" >People</a></li>
                                </g:if>
                                        </ul>
                                </dd>

