<r:require module="watchlist" />
<div id="dialog-message" title="Watchlist"> 
	<p> 
		<span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span> 
		 <div id="watchlistMessage"></div>
	</p> 
</div> 
