								<li>
									<a href="/test2/" class="registrations">
										<span class="inner"></span>
									</a>
								</li>
								<li>
									<a href="/test2/" class="registrations">
										<span class="inner"></span>
									</a>
								</li>
								<li>
									<a href="/test2/" class="registrations">
										<span class="inner"></span>
									</a>
								</li>
								<li>
									<a href="/test2/" class="registrations">
										<span class="inner"></span>
									</a>
								</li>
								<li>
									<a href="/test2/" class="registrations">
										<span class="inner"></span>
									</a>
								</li>
