<script>

$(document).ready(function() {



 $('#dialog-description').dialog({
                autoOpen: false,
                height: 500,
                width: 700,
                modal: true,
                buttons: {
                            OK: function() {
                                $(this).dialog('close');
                            }

                }
             });






});

function broadcastDesc(id) {

$.get("${request.contextPath}/broadcast/description",{id : id},
                function(data,textStatus,jqXHR) {
                    $("#description").html(data.description);
                    $('#dialog-description').dialog('open');
                }
);

}
</script>

<div id="dialog-description" title="Broadcast">
        <p>
                <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                <div id="description" ></div>
        </p>
</div>

