							<ul >
								<li><g:link  id="selected_search_tab" url="[action:'wtb']"   ><span><span>WTB Broadcasts</span></span></g:link></li>
								<li><g:link   url="[action:'wts']"   ><span><span>WTS Broadcasts</span></span></g:link></li>
								<li><g:link   url="[action:'privatebcast']"   ><span><span>Private Broadcasts</span></span></g:link></li>
								<li><g:link   url="[action:'wtbresponds']"   ><span><span>WTB Responds</span></span></g:link></li>
								<li><g:link   url="[action:'wtsresponds']"   ><span><span>WTS Responds</span></span></g:link></li>
							</ul>
