							<ul >
								<li><g:link   id="selected_search_tab" url="[action:'list']" 	><span><span>My Vendors</span></span></g:link></li>
								<li><g:link  controller="myConnection" action="list"><span><span>My Connections</span></span></g:link></li>
							</ul>
