								<div class="row">
									<label>Chkbcastinbox:</label>
									<div class="inputs">
										<span><g:checkBox class="checkbox" name="chkbcastinbox" value="${permissions?.chkbcastinbox}" ></g:checkBox></span>
									</div>
								</div>
								<div class="row">
									<label>Chkrfqinbox:</label>
									<div class="inputs">
										<span><g:checkBox class="checkbox"  name="chkrfqinbox" value="${permissions?.chkrfqinbox}" ></g:checkBox></span>
									</div>
								</div>
								<div class="row">
									<label>Manageinventory:</label>
									<div class="inputs">
										<span><g:checkBox class="checkbox"  name="manageinventory" value="${permissions?.manageinventory}" ></g:checkBox></span>
									</div>
								</div>
								<div class="row">
									<label>Sendbroadcast:</label>
									<div class="inputs">
										<span><g:checkBox class="checkbox"  name="sendbroadcast" value="${permissions?.sendbroadcast}" ></g:checkBox></span>
									</div>
								</div>

                      