
<r:script language="javascript" >
<g:addById domain="vendor" url="../myVendor/save" dialog="dialog-message" />
function removeVendor( id, keyword) {

        $("#deleteVendor #keyword").val(keyword);
        $("#deleteVendor #vendorid").val(id);
        $("#deleteVendor").submit();

}
</r:script>
<r:require module="network" />
<form name="deleteVendor" id="deleteVendor" method='post' action='../myVendor/delete' data-test='test'>
<input type='hidden' name='id' id="vendorid" value='' /> 
<input type='hidden' name='keyword' id='keyword'  value='' /> 
</form>

<div id="dialog-message" title="Response">
        <p>
                 <div id="msg"></div>
        </p>
</div>

