<%@page import="test2.Role" %>
						
							

                                                                <input type="hidden" class="text"  name="personid" value="${person?.id}"/>
                                                                <input type="hidden" name="returnTemplate" value="${returnTemplate}" id="returnTemplate" />

                                                		<g:render template="employeedetails" bean="${person}" />
                                                        
