<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
        <meta name="layout" content="pz" />
</head>

	    <g:form controller="inventory" method="post" action="uploadInventory" enctype="multipart/form-data" class="signupform" >

									
		<h5>Upload Inventory ( We will take care of any formatting, column names etc. )</em></h5>
		<ul>




			<li>
				<label>Inventory File:</label>
    				<input class="file" name="file" type="file" />
			</li>
			<li>
    				<input name="format" type="checkbox" />
				Excel/CSv File has correct format
			</li>
			<li class="a-center">
				<button type="submit"><span class="button"><span>Save</span></span></button>

			</li>


	    </g:form>                        
	

</html>
