<div class="tab-content-block">
	<g:render template="broadcastGridMultiplePart" model="${[broadcastList:broadcastList,countryMap:countryMap,companyMap:companyMap, filterParams:filterParams]}" />
</div>