<%@page import="test2.Manufacturer" %>
<script>
        $(document).ready(function() {


});
</script>
<div id="createsingle">
<g:render template="/broadcastsingle" model="['showCreate':true]" />

</div>

