<%@page import="java.text.*" %>
<%@page import="java.util.*" %>
<%@page import="test2.Broadcast" %>
<%@page import="test2.BroadcastFilter" %>
<%@page import="test2.Person" %>
<%@page import="test2.Manufacturer" %>
<%@page import="test2.Continent" %>
<%@page import="test2.AppFlags" %>


<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="layout" content="pz" />
        <title>Broadcast List</title>
  	
         	                


<script language="Javascript" >

$(document).ready(function()
        {


	$( "#tabs" ).tabs({

              $('#formResponse').submit( function() {


			    tinyMCE.triggerSave();

			    $.ajax({
    			    type: "POST",
    			    url: "../broadcastResponse/save",
			    cache: false,
    			    data: $(this).serialize(),
			    error: function(data, textStatus, jqXHR) {
			        alert("Error: " + textStatus);
    			    },
    			    success: function(data, textStatus, jqXHR) {
				   $('#dialog-responseSave').dialog("open");
 				   //setTimeout(function(){$('#dialog-message').dialog("close")},2000);
        			
    			    }
			    
                            });

		    
        	            return false;

              });
 


  $('#dialog-response').dialog({ 
        autoOpen: false,
        height: 600,
        width: 650,
        modal: true,
        buttons: {
            SaveFilter: function() {

    		$("#formResponse").submit();
                $(this).dialog('close');

            },

            Cancel: function() {
                $(this).dialog('close');
            }

        }        
    });

  $('#dialog-company').dialog({ 
        autoOpen: false,
        height: 600,
        width: 950,
        modal: true,
        buttons: {

            Cancel: function() {
                $(this).dialog('close');
            }

        }        
    });


    $('#dialog-responseSave').dialog({
        autoOpen: false,
        height: 150,
        width: 250,
        modal: true,
        buttons: {
            Ok: function() {
                $(this).dialog('close');
            }

        }        
    });


/* when jQuery duplicate onchnage bug is fixed */

  $("#formResponse").live("submit",function() {

		    $.ajax({
    			    type: "POST",
    			    url: "../broadcastResponse/save",
			    cache: false,
    			    data: $(this).serialize(),
			    error: function(data, textStatus, jqXHR) {
			        alert("Error: " + textStatus);
    			    },
    			    success: function(data, textStatus, jqXHR) {
				if (data.success) {
					alert('Response Saved');
				}
				else {
					alert('Error saving');
					alert(data);
				}
    			    }
			    
                   });
  });


  }); // tabs load


  }); // onready


	function filterStatus(v) {
		if (v == 0) {
			return "add";	
		} else {
			return "";
		}
		
	}

 function showResponse(bid) {
        $('#bid').val(bid);
	$('#dialog-response').dialog('open');
 }

 function saveBB() {
	alert('here');
	$('#dialog-form-M').dialog('open');
 }


function getCompany(cid) {

	    $.ajax({
		    type: "GET",
		    url: "../company/showajax",
		    cache: false,
		    data: { id : cid },
		    error: function(data, textStatus, jqXHR) {
	    		alert("Error: " + textStatus);
    		    },
	    	    success: function(data, textStatus, jqXHR) {
		    	$("#dialog-company").html(data)
			$("#dialog-company").dialog('open');
	    	    }
	    });


}




</script>

    </head>
    <body>
<div id="dialog-responseSave" title="Broadcast Response Sent"> 
	<p> 
		<span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span> 
		 Broadcast Response Sent.
	</p> 
</div>


<div id="dialog-company" title="Company"> 

</div>


<div id="dialog-response" title="Broadcast Response">
            <g:form action="savemultiple" method="post" class="search_form"  name="formResponse"  >
			<g:hiddenField name="bid" value="" />

			<fieldset>
				<!--[if !IE]>start forms<![endif]-->
				<div class="row">
				<label>Response:</label>
					<div class="inputs">
						<span class="input_wrapper"><g:textArea name="responsetext" class="tinymce"  /></span>
					</div>
				</div>

			</fieldset>
							
							
	    </g:form>
				
</div> 
<div id="tabs"> 
	<ul> 
		 <li><a href="../broadcast/listFromMyConnections?parttype=Single" title="singletab" >Single Part Broadcasts</a></li> 
		<li><a href="../broadcast/listFromMyConnections?parttype=Multiple" title="multitab" >Multi Part Broadcasts</a></li> 
	</ul> 
	<div id="tabs-1"> 
<!--harish moved dialogs from here-->
	


					
	</div> 
	<div id="tabs-2"> 

	</div> 
</div> 

					
					
					
					
    </body>
</html>
