                         <tr class="" id="broadcastFilterAlert${broadcastFilterAlertInstance.id}" >
                        
			<td><a href="javascript:void(0)" class="edit" id="respond" onClick="getFilter(${broadcastFilterAlertInstance.broadcastFilter.id});" >${broadcastFilterAlertInstance.broadcastFilter.name}</a></td>
                            <td>${broadcastFilterAlertInstance.sms?"sms ":""}
                            ${broadcastFilterAlertInstance.email?",email ":""}
                            ${broadcastFilterAlertInstance.inbox?",inbox ":""}
                            ${broadcastFilterAlertInstance.gtalk?",gtalk ":""}
                            ${broadcastFilterAlertInstance.yahoo?",yahoo ":""}
                            ${broadcastFilterAlertInstance.msn?",msn ":""}
                            ${broadcastFilterAlertInstance.aol?",aol ":""}
                            </td> 
				<td>
						<div class="actions_menu">
							<ul>
								<li><a href="javascript:void(0)" class="edit" id="respond" onClick="getFilterAlert(${broadcastFilterAlertInstance.id}, '${broadcastFilterAlertInstance.broadcastFilter.name}');" >Edit</a></li>
								<li><g:remoteLink class="delete" action="delete" id="${broadcastFilterAlertInstance?.id}" before="return confirm('Are you sure?');" >Delete</g:remoteLink></li>
							</ul>
						</div>

				</td>
                        </tr>
