<div id="countrySelect">
<g:select id="countries" multiple size="10" optionKey="id" from="${countrySelected}" optionValue="name" name="countries" value="${flash.commCountries*.id}"   ></g:select>
</div>



