<%@ page import="test2.BroadcastFilter" %>

<div id="filterselect">
<g:select id="filter"  optionKey="id" from="${BroadcastFilter.findAllByPerson(session.person)}" optionValue="name" name="filter" value="${flash.filter?.id}" noSelection="[null:'Select Filter']"  ></g:select>
</div>



