<%@page import="java.text.*" %>
<%@page import="java.util.*" %>
<%@page import="test2.Broadcast" %>
<%@page import="test2.BroadcastFilter" %>
<%@page import="test2.Person" %>
<%@page import="test2.Manufacturer" %>
<%@page import="test2.Continent" %>
<%@page import="test2.AppFlags" %>


        <meta name="layout" content="pz" />
  	
         	                


<script language="Javascript" >


$(document).ready(function()
        {



	$( "#tabs" ).tabs({

  
        }); // tabs load


}); // onready


</script>

    </head>

 <div id="tabs"  >   
	<ul  class="tabbtn" > 
				<li><g:link  id="selected_search_tab" url="[action:'wtb']"   ><span><span>WTB Broadcasts</span></span></g:link></li>
								<li><g:link   url="[action:'wts']"   ><span><span>WTS Broadcasts</span></span></g:link></li>
								<li><g:link   url="[action:'privatebcast']"   ><span><span>Private Broadcasts</span></span></g:link></li>
								<li><g:link   url="[action:'wtbresponds']"   ><span><span>WTB Responds</span></span></g:link></li>
								<li><g:link   url="[action:'wtsresponds']"   ><span><span>WTS Responds</span></span></g:link></li>
	</ul> 
 </div>      
