<head>
<title>API Key</title>
<meta name='layout' content='register'/>
</head>

<body>

<p/>

<div class="login s2ui_center ui-corner-all" style='text-align:center;'>
	<div class="login-inner">
	Your API Key is ${apikey}.Please store it securely as it is your authentication password for using our API service.
	</div>
</div>

</body>
