<%@ page import="test2.BroadcastFilter" %>

<div id="filterselectM"><g:select id="filter" style="width:96%;"    optionKey="id" from="${BroadcastFilter.findAllByPersonAndFilterType(session.person,'M')}" optionValue="name" name="filter" onChange="getFilterM(this.value)"  value="${filterid}" noSelection="[null:'Select Filter']"  ></g:select></div>



