
<%@ page import="test2.BroadcastFilter" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'broadcastFilter.label', default: 'BroadcastFilter')}" />
        <title><g:message code="default.show.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.show.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="dialog">
                <table>
                    <tbody>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.id.label" default="Id" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: broadcastFilterInstance, field: "id")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.categories.label" default="Categories" /></td>
                            
                            <td valign="top" style="text-align: left;" class="value">
                                <ul>
                                <g:each in="${broadcastFilterInstance.categories}" var="c">
                                    <li><g:link controller="category" action="show" id="${c.id}">${c?.encodeAsHTML()}</g:link></li>
                                </g:each>
                                </ul>
                            </td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.countries.label" default="Countries" /></td>
                            
                            <td valign="top" style="text-align: left;" class="value">
                                <ul>
                                <g:each in="${broadcastFilterInstance.countries}" var="c">
                                    <li><g:link controller="country" action="show" id="${c.id}">${c?.encodeAsHTML()}</g:link></li>
                                </g:each>
                                </ul>
                            </td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.keyword.label" default="Keywords" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: broadcastFilterInstance, field: "keyword")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.manufacturers.label" default="Manufacturers" /></td>
                            
                            <td valign="top" style="text-align: left;" class="value">
                                <ul>
                                <g:each in="${broadcastFilterInstance.manufacturers}" var="m">
                                    <li><g:link controller="manufacturer" action="show" id="${m.id}">${m?.encodeAsHTML()}</g:link></li>
                                </g:each>
                                </ul>
                            </td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.myCountries.label" default="My Countries" /></td>
                            
                            <td valign="top" class="value"><g:formatBoolean boolean="${broadcastFilterInstance?.myCountries}" /></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.myVendors.label" default="My Vendors" /></td>
                            
                            <td valign="top" class="value"><g:formatBoolean boolean="${broadcastFilterInstance?.myVendors}" /></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.name.label" default="Name" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: broadcastFilterInstance, field: "name")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.wtb.label" default="Wtb" /></td>
                            
                            <td valign="top" class="value"><g:formatBoolean boolean="${broadcastFilterInstance?.wtb}" /></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="broadcastFilter.wts.label" default="Wts" /></td>
                            
                            <td valign="top" class="value"><g:formatBoolean boolean="${broadcastFilterInstance?.wts}" /></td>
                            
                        </tr>
                    
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <g:form>
                    <g:hiddenField name="id" value="${broadcastFilterInstance?.id}" />
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'default.button.edit.label', default: 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" /></span>
                </g:form>
            </div>
        </div>
    </body>
</html>
