<%@ page import="test2.Cond" %>



<div class="fieldcontain ${hasErrors(bean: condInstance, field: 'name', 'error')} ">
	<label for="name">
		<g:message code="cond.name.label" default="Name" />
		
	</label>
	<g:textField name="name" value="${condInstance?.name}"/>
</div>

