<div id="stateSelect" >
<g:select  optionKey="name" from="${stateSelected}" optionValue="name" name="state" value="${stateSelectValue}"  style="width:214px;"  noSelection="['':'-Please select your State/Region-']" ></g:select>
</div>


